{
  "openapi": "3.1.0",
  "info": {
    "title": "Ablo API",
    "version": "1.0.0",
    "description": "The Ablo transaction layer: commit, read, and claim. `{model}` is any model from your pushed schema — the routes are the same whichever it is. Authenticate every request with your API key as a Bearer token."
  },
  "servers": [
    {
      "url": "https://api.abloatai.com/api",
      "description": "Production"
    },
    {
      "url": "http://localhost:8787/api",
      "description": "Local development"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Your Ablo API key (sk_… / rk_…)."
      }
    },
    "schemas": {}
  },
  "paths": {
    "/v1/models/{model}": {
      "get": {
        "tags": [
          "models"
        ],
        "summary": "List rows of a model",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A model name from your pushed schema, e.g. `task`."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of rows. `next_cursor` feeds `starting_after` on the next call; `stamp` is the watermark the page was read at.",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "model": {
                      "type": "string"
                    },
                    "stamp": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "object",
                    "data",
                    "has_more",
                    "next_cursor",
                    "model",
                    "stamp"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "models"
        ],
        "summary": "Create a row",
        "description": "The record travels in `data`; `id` is yours to choose — see the field for the derivation that makes a retry idempotent.",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A model name from your pushed schema, e.g. `task`."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "data": {
                    "anyOf": [
                      {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {}
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "id": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "claim": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "onStale": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "reject",
                          "overwrite",
                          "notify"
                        ]
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "readAt": {
                    "anyOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "fenceToken": {
                    "anyOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "idempotencyKey": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Commit receipt",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "object": {
                          "type": "string",
                          "const": "commit_receipt"
                        },
                        "id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "clientTxId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "serverTxId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "success": {
                          "type": "boolean",
                          "const": true
                        },
                        "lastSyncId": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "ops": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "notifications": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "object": {
                                "type": "string",
                                "const": "stale_notification"
                              },
                              "model": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "readAt": {
                                "type": "number"
                              },
                              "observedSyncId": {
                                "type": "number"
                              },
                              "conflictingFields": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "currentValues": {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": {}
                              },
                              "writtenBy": {
                                "type": "object",
                                "properties": {
                                  "kind": {
                                    "type": "string",
                                    "enum": [
                                      "user",
                                      "agent",
                                      "system"
                                    ]
                                  },
                                  "id": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "kind",
                                  "id"
                                ],
                                "additionalProperties": false
                              },
                              "group": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "model",
                              "id",
                              "readAt",
                              "observedSyncId",
                              "conflictingFields",
                              "currentValues",
                              "writtenBy"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "missingIds": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "minLength": 1
                          }
                        },
                        "status": {
                          "type": "string",
                          "const": "queued"
                        },
                        "correlationId": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255
                        }
                      },
                      "required": [
                        "object",
                        "clientTxId",
                        "serverTxId",
                        "success",
                        "lastSyncId",
                        "ops",
                        "status",
                        "correlationId"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "object": {
                          "type": "string",
                          "const": "commit_receipt"
                        },
                        "id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "clientTxId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "serverTxId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "success": {
                          "type": "boolean",
                          "const": true
                        },
                        "lastSyncId": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "ops": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "notifications": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "object": {
                                "type": "string",
                                "const": "stale_notification"
                              },
                              "model": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "readAt": {
                                "type": "number"
                              },
                              "observedSyncId": {
                                "type": "number"
                              },
                              "conflictingFields": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "currentValues": {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": {}
                              },
                              "writtenBy": {
                                "type": "object",
                                "properties": {
                                  "kind": {
                                    "type": "string",
                                    "enum": [
                                      "user",
                                      "agent",
                                      "system"
                                    ]
                                  },
                                  "id": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "kind",
                                  "id"
                                ],
                                "additionalProperties": false
                              },
                              "group": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "model",
                              "id",
                              "readAt",
                              "observedSyncId",
                              "conflictingFields",
                              "currentValues",
                              "writtenBy"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "missingIds": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "minLength": 1
                          }
                        },
                        "status": {
                          "type": "string",
                          "const": "confirmed"
                        },
                        "correlationId": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255
                        }
                      },
                      "required": [
                        "object",
                        "clientTxId",
                        "serverTxId",
                        "success",
                        "lastSyncId",
                        "ops",
                        "status"
                      ],
                      "additionalProperties": false
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/{model}/{id}": {
      "get": {
        "tags": [
          "models"
        ],
        "summary": "Retrieve a row",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A model name from your pushed schema, e.g. `task`."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The row, with the watermark it was read at and who holds it.",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "model"
                    },
                    "model": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "stamp": {
                      "type": "number"
                    },
                    "claims": {
                      "readOnly": true,
                      "type": "array",
                      "items": {
                        "readOnly": true,
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "actor": {
                            "type": "string"
                          },
                          "participantKind": {
                            "type": "string",
                            "enum": [
                              "user",
                              "agent",
                              "system"
                            ]
                          },
                          "onBehalfOfId": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "onBehalfOfKind": {
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "user",
                                  "agent",
                                  "system"
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "capabilityId": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "description": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "active",
                              "queued"
                            ]
                          },
                          "position": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          },
                          "expiresAt": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "fenceToken": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "target": {
                            "readOnly": true,
                            "type": "object",
                            "properties": {
                              "model": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "path": {
                                "type": "string"
                              },
                              "range": {
                                "type": "object",
                                "properties": {
                                  "startLine": {
                                    "type": "number"
                                  },
                                  "endLine": {
                                    "type": "number"
                                  },
                                  "startColumn": {
                                    "type": "number"
                                  },
                                  "endColumn": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "startLine",
                                  "endLine"
                                ],
                                "additionalProperties": false
                              },
                              "field": {
                                "type": "string"
                              },
                              "fields": {
                                "readOnly": true,
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "meta": {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": {}
                              }
                            },
                            "required": [
                              "model",
                              "id"
                            ],
                            "additionalProperties": false
                          },
                          "meta": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {}
                          },
                          "field": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "actor",
                          "participantKind",
                          "expiresAt",
                          "target"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "object",
                    "model",
                    "id",
                    "data",
                    "stamp",
                    "claims"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "models"
        ],
        "summary": "Update a row",
        "description": "Pass `claim` and `readAt` together: the lease says nobody else is writing, the watermark says the row has not moved since you read it.",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A model name from your pushed schema, e.g. `task`."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "data": {
                    "anyOf": [
                      {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {}
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "id": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "claim": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "onStale": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "reject",
                          "overwrite",
                          "notify"
                        ]
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "readAt": {
                    "anyOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "fenceToken": {
                    "anyOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "idempotencyKey": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Commit receipt",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "object": {
                          "type": "string",
                          "const": "commit_receipt"
                        },
                        "id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "clientTxId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "serverTxId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "success": {
                          "type": "boolean",
                          "const": true
                        },
                        "lastSyncId": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "ops": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "notifications": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "object": {
                                "type": "string",
                                "const": "stale_notification"
                              },
                              "model": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "readAt": {
                                "type": "number"
                              },
                              "observedSyncId": {
                                "type": "number"
                              },
                              "conflictingFields": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "currentValues": {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": {}
                              },
                              "writtenBy": {
                                "type": "object",
                                "properties": {
                                  "kind": {
                                    "type": "string",
                                    "enum": [
                                      "user",
                                      "agent",
                                      "system"
                                    ]
                                  },
                                  "id": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "kind",
                                  "id"
                                ],
                                "additionalProperties": false
                              },
                              "group": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "model",
                              "id",
                              "readAt",
                              "observedSyncId",
                              "conflictingFields",
                              "currentValues",
                              "writtenBy"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "missingIds": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "minLength": 1
                          }
                        },
                        "status": {
                          "type": "string",
                          "const": "queued"
                        },
                        "correlationId": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255
                        }
                      },
                      "required": [
                        "object",
                        "clientTxId",
                        "serverTxId",
                        "success",
                        "lastSyncId",
                        "ops",
                        "status",
                        "correlationId"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "object": {
                          "type": "string",
                          "const": "commit_receipt"
                        },
                        "id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "clientTxId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "serverTxId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "success": {
                          "type": "boolean",
                          "const": true
                        },
                        "lastSyncId": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "ops": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "notifications": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "object": {
                                "type": "string",
                                "const": "stale_notification"
                              },
                              "model": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "readAt": {
                                "type": "number"
                              },
                              "observedSyncId": {
                                "type": "number"
                              },
                              "conflictingFields": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "currentValues": {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": {}
                              },
                              "writtenBy": {
                                "type": "object",
                                "properties": {
                                  "kind": {
                                    "type": "string",
                                    "enum": [
                                      "user",
                                      "agent",
                                      "system"
                                    ]
                                  },
                                  "id": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "kind",
                                  "id"
                                ],
                                "additionalProperties": false
                              },
                              "group": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "model",
                              "id",
                              "readAt",
                              "observedSyncId",
                              "conflictingFields",
                              "currentValues",
                              "writtenBy"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "missingIds": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "minLength": 1
                          }
                        },
                        "status": {
                          "type": "string",
                          "const": "confirmed"
                        },
                        "correlationId": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255
                        }
                      },
                      "required": [
                        "object",
                        "clientTxId",
                        "serverTxId",
                        "success",
                        "lastSyncId",
                        "ops",
                        "status"
                      ],
                      "additionalProperties": false
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "models"
        ],
        "summary": "Delete a row",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A model name from your pushed schema, e.g. `task`."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "data": {
                    "anyOf": [
                      {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {}
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "id": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "claim": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "onStale": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "reject",
                          "overwrite",
                          "notify"
                        ]
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "readAt": {
                    "anyOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "fenceToken": {
                    "anyOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "idempotencyKey": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Commit receipt",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "object": {
                          "type": "string",
                          "const": "commit_receipt"
                        },
                        "id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "clientTxId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "serverTxId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "success": {
                          "type": "boolean",
                          "const": true
                        },
                        "lastSyncId": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "ops": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "notifications": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "object": {
                                "type": "string",
                                "const": "stale_notification"
                              },
                              "model": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "readAt": {
                                "type": "number"
                              },
                              "observedSyncId": {
                                "type": "number"
                              },
                              "conflictingFields": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "currentValues": {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": {}
                              },
                              "writtenBy": {
                                "type": "object",
                                "properties": {
                                  "kind": {
                                    "type": "string",
                                    "enum": [
                                      "user",
                                      "agent",
                                      "system"
                                    ]
                                  },
                                  "id": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "kind",
                                  "id"
                                ],
                                "additionalProperties": false
                              },
                              "group": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "model",
                              "id",
                              "readAt",
                              "observedSyncId",
                              "conflictingFields",
                              "currentValues",
                              "writtenBy"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "missingIds": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "minLength": 1
                          }
                        },
                        "status": {
                          "type": "string",
                          "const": "queued"
                        },
                        "correlationId": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255
                        }
                      },
                      "required": [
                        "object",
                        "clientTxId",
                        "serverTxId",
                        "success",
                        "lastSyncId",
                        "ops",
                        "status",
                        "correlationId"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "object": {
                          "type": "string",
                          "const": "commit_receipt"
                        },
                        "id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "clientTxId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "serverTxId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "success": {
                          "type": "boolean",
                          "const": true
                        },
                        "lastSyncId": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "ops": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "notifications": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "object": {
                                "type": "string",
                                "const": "stale_notification"
                              },
                              "model": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "readAt": {
                                "type": "number"
                              },
                              "observedSyncId": {
                                "type": "number"
                              },
                              "conflictingFields": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "currentValues": {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": {}
                              },
                              "writtenBy": {
                                "type": "object",
                                "properties": {
                                  "kind": {
                                    "type": "string",
                                    "enum": [
                                      "user",
                                      "agent",
                                      "system"
                                    ]
                                  },
                                  "id": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "kind",
                                  "id"
                                ],
                                "additionalProperties": false
                              },
                              "group": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "model",
                              "id",
                              "readAt",
                              "observedSyncId",
                              "conflictingFields",
                              "currentValues",
                              "writtenBy"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "missingIds": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "minLength": 1
                          }
                        },
                        "status": {
                          "type": "string",
                          "const": "confirmed"
                        },
                        "correlationId": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255
                        }
                      },
                      "required": [
                        "object",
                        "clientTxId",
                        "serverTxId",
                        "success",
                        "lastSyncId",
                        "ops",
                        "status"
                      ],
                      "additionalProperties": false
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/{model}/{id}/claim": {
      "post": {
        "tags": [
          "claims"
        ],
        "summary": "Claim a row (acquire lease)",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A model name from your pushed schema, e.g. `task`."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "claimId": {
                    "type": "string"
                  },
                  "target": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "model": {
                            "type": "string"
                          },
                          "id": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "path": {
                            "type": "string"
                          },
                          "range": {
                            "type": "object",
                            "properties": {
                              "startLine": {
                                "type": "number"
                              },
                              "endLine": {
                                "type": "number"
                              },
                              "startColumn": {
                                "type": "number"
                              },
                              "endColumn": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "startLine",
                              "endLine"
                            ]
                          },
                          "field": {
                            "type": "string"
                          },
                          "fields": {
                            "readOnly": true,
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "meta": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {}
                          }
                        }
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "reason": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "meta": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {}
                  },
                  "ttl": {
                    "anyOf": [
                      {
                        "anyOf": [
                          {
                            "type": "number",
                            "exclusiveMinimum": 0
                          },
                          {
                            "type": "string",
                            "pattern": "^(\\d+(?:\\.\\d+)?)(ms|s|m|h)$"
                          }
                        ]
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "queue": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The lease is yours. `claim.fenceToken` is set when the coordinator minted one; carry it on writes made under the lease.",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string",
                      "const": "claim"
                    },
                    "status": {
                      "type": "string",
                      "const": "active"
                    },
                    "fenceToken": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "expiresAt": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "claim": {
                      "readOnly": true,
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "actor": {
                          "type": "string"
                        },
                        "participantKind": {
                          "type": "string",
                          "enum": [
                            "user",
                            "agent",
                            "system"
                          ]
                        },
                        "onBehalfOfId": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "onBehalfOfKind": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "user",
                                "agent",
                                "system"
                              ]
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "capabilityId": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "description": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "active",
                            "queued"
                          ]
                        },
                        "position": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "expiresAt": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "fenceToken": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "target": {
                          "readOnly": true,
                          "type": "object",
                          "properties": {
                            "model": {
                              "type": "string"
                            },
                            "id": {
                              "type": "string"
                            },
                            "path": {
                              "type": "string"
                            },
                            "range": {
                              "type": "object",
                              "properties": {
                                "startLine": {
                                  "type": "number"
                                },
                                "endLine": {
                                  "type": "number"
                                },
                                "startColumn": {
                                  "type": "number"
                                },
                                "endColumn": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "startLine",
                                "endLine"
                              ],
                              "additionalProperties": false
                            },
                            "field": {
                              "type": "string"
                            },
                            "fields": {
                              "readOnly": true,
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "meta": {
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {}
                            }
                          },
                          "required": [
                            "model",
                            "id"
                          ],
                          "additionalProperties": false
                        },
                        "meta": {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        },
                        "field": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "actor",
                        "participantKind",
                        "expiresAt",
                        "target"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "status",
                    "claim"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "202": {
            "description": "The row was already held and you asked to queue. You are in line at `position` — heartbeat to keep the slot, and poll `GET /v1/claims/{claimId}` for the grant.",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string",
                      "const": "claim"
                    },
                    "status": {
                      "type": "string",
                      "const": "queued"
                    },
                    "position": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 9007199254740991
                    },
                    "heldBy": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "heldByClaim": {
                      "type": "object",
                      "properties": {
                        "entityType": {
                          "type": "string"
                        },
                        "entityId": {
                          "type": "string"
                        },
                        "path": {
                          "type": "string"
                        },
                        "range": {
                          "type": "object",
                          "properties": {
                            "startLine": {
                              "type": "number"
                            },
                            "endLine": {
                              "type": "number"
                            },
                            "startColumn": {
                              "type": "number"
                            },
                            "endColumn": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "startLine",
                            "endLine"
                          ],
                          "additionalProperties": false
                        },
                        "field": {
                          "type": "string"
                        },
                        "fields": {
                          "readOnly": true,
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "meta": {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        },
                        "claimId": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "declaredAt": {
                          "type": "number"
                        },
                        "expiresAt": {
                          "type": "number"
                        },
                        "onBehalfOfId": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "onBehalfOfKind": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "user",
                                "agent",
                                "system"
                              ]
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "capabilityId": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "entityType",
                        "entityId",
                        "claimId",
                        "declaredAt",
                        "expiresAt"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "status",
                    "position"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "claims"
        ],
        "summary": "Release a claim",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A model name from your pushed schema, e.g. `task`."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Released",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "claim_release"
                    },
                    "released": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "object",
                    "released"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/{model}/{id}/claim/heartbeat": {
      "post": {
        "tags": [
          "claims"
        ],
        "summary": "Heartbeat a held claim (extend the lease for long-running work)",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A model name from your pushed schema, e.g. `task`."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "claimId": {
                    "type": "string"
                  },
                  "ttl": {
                    "anyOf": [
                      {
                        "anyOf": [
                          {
                            "type": "number",
                            "exclusiveMinimum": 0
                          },
                          {
                            "type": "string",
                            "pattern": "^(\\d+(?:\\.\\d+)?)(ms|s|m|h)$"
                          }
                        ]
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "details": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lease extended (or queued slot refreshed)",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "claim_heartbeat"
                    },
                    "claimId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "held",
                        "queued"
                      ]
                    },
                    "expiresAt": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "queueDepth": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 9007199254740991
                    },
                    "position": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 9007199254740991
                    }
                  },
                  "required": [
                    "object",
                    "claimId",
                    "status"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/{model}/{id}/claim/reorder": {
      "post": {
        "tags": [
          "claims"
        ],
        "summary": "Reorder the wait-line (privileged)",
        "description": "Name the waiters you want at the front, in the order you want them. Waiters you leave out keep their relative places behind them.",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A model name from your pushed schema, e.g. `task`."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "order": {
                    "readOnly": true,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "heldBy": {
                          "type": "string"
                        },
                        "claimId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "heldBy",
                        "claimId"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reordered",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "claim_reorder"
                    },
                    "reordered": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "object",
                    "reordered"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/ephemeral_keys": {
      "post": {
        "tags": [
          "credentials"
        ],
        "summary": "Mint a short-lived session credential",
        "description": "Call this first: every other route needs the key it returns. Requires a secret (`sk_`) key — a session cannot mint itself.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Replay-safe key; the server returns the cached credential on retry."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "user": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "minLength": 1
                      },
                      "teamIds": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "id"
                    ]
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "organizationId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "schemaProjectId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "schemaOwnerOrgId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "syncGroups": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "ttlSeconds": {
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "maximum": 9007199254740991
                  },
                  "label": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The minted credential",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "ephemeral_key"
                    },
                    "id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "token": {
                      "type": "string",
                      "minLength": 1
                    },
                    "expiresAt": {
                      "type": "string",
                      "minLength": 1
                    },
                    "organizationId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "participantId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "syncGroups": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "id",
                    "token",
                    "expiresAt",
                    "organizationId",
                    "participantId",
                    "syncGroups"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/claims": {
      "get": {
        "tags": [
          "claims"
        ],
        "summary": "List who holds what, and who waits",
        "description": "The coordination view: scope to a row with `model` and `id`, to a participant with `actorId`, `actorKind`, `onBehalfOfId` or `capabilityId`, or combine them. `queue` is populated only when the request names both `model` and `id` — a wait line belongs to one row.",
        "parameters": [
          {
            "name": "model",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "field",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actorId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actorKind",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "user",
                "agent",
                "system"
              ]
            }
          },
          {
            "name": "onBehalfOfId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "capabilityId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Live claims, and the wait line behind the named row.",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "readOnly": true,
                      "type": "array",
                      "items": {
                        "readOnly": true,
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "actor": {
                            "type": "string"
                          },
                          "participantKind": {
                            "type": "string",
                            "enum": [
                              "user",
                              "agent",
                              "system"
                            ]
                          },
                          "onBehalfOfId": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "onBehalfOfKind": {
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "user",
                                  "agent",
                                  "system"
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "capabilityId": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "description": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "active",
                              "queued"
                            ]
                          },
                          "position": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          },
                          "expiresAt": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "fenceToken": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "target": {
                            "readOnly": true,
                            "type": "object",
                            "properties": {
                              "model": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "path": {
                                "type": "string"
                              },
                              "range": {
                                "type": "object",
                                "properties": {
                                  "startLine": {
                                    "type": "number"
                                  },
                                  "endLine": {
                                    "type": "number"
                                  },
                                  "startColumn": {
                                    "type": "number"
                                  },
                                  "endColumn": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "startLine",
                                  "endLine"
                                ],
                                "additionalProperties": false
                              },
                              "field": {
                                "type": "string"
                              },
                              "fields": {
                                "readOnly": true,
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "meta": {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": {}
                              }
                            },
                            "required": [
                              "model",
                              "id"
                            ],
                            "additionalProperties": false
                          },
                          "meta": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {}
                          },
                          "field": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "actor",
                          "participantKind",
                          "expiresAt",
                          "target"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "object",
                    "data",
                    "has_more",
                    "next_cursor"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "claims"
        ],
        "summary": "Claim a row named in the body",
        "description": "The same operation as `POST /v1/models/{model}/{id}/claim`, with the row in `target` instead of the URL. Answers identically.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "claimId": {
                    "type": "string"
                  },
                  "target": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "model": {
                            "type": "string"
                          },
                          "id": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "path": {
                            "type": "string"
                          },
                          "range": {
                            "type": "object",
                            "properties": {
                              "startLine": {
                                "type": "number"
                              },
                              "endLine": {
                                "type": "number"
                              },
                              "startColumn": {
                                "type": "number"
                              },
                              "endColumn": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "startLine",
                              "endLine"
                            ]
                          },
                          "field": {
                            "type": "string"
                          },
                          "fields": {
                            "readOnly": true,
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "meta": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {}
                          }
                        }
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "reason": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "meta": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {}
                  },
                  "ttl": {
                    "anyOf": [
                      {
                        "anyOf": [
                          {
                            "type": "number",
                            "exclusiveMinimum": 0
                          },
                          {
                            "type": "string",
                            "pattern": "^(\\d+(?:\\.\\d+)?)(ms|s|m|h)$"
                          }
                        ]
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "queue": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The lease is yours.",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string",
                      "const": "claim"
                    },
                    "status": {
                      "type": "string",
                      "const": "active"
                    },
                    "fenceToken": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "expiresAt": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "claim": {
                      "readOnly": true,
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "actor": {
                          "type": "string"
                        },
                        "participantKind": {
                          "type": "string",
                          "enum": [
                            "user",
                            "agent",
                            "system"
                          ]
                        },
                        "onBehalfOfId": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "onBehalfOfKind": {
                          "anyOf": [
[...]
