{
  "openapi": "3.1.0",
  "info": {
    "title": "Ablo Sync Engine HTTP API",
    "version": "0.16.1",
    "description": "The HTTP surface of the Ablo sync engine. Most production traffic flows over WebSocket via `@abloatai/ablo`; this HTTP API is the Vercel-safe transport for environments that cannot hold long-lived sockets, plus the control plane for capabilities and usage.\n\nThe per-model resource routes (`/v1/models/{model}`) are **generated from your own pushed schema** — they are documented here generically over `{model}`, with `tasks` as the running example. Authenticate every request with a `Bearer` API key or scoped token."
  },
  "servers": [
    {
      "url": "https://api.abloatai.com/api",
      "description": "Production"
    },
    {
      "url": "http://localhost:8787/api",
      "description": "Local development"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Records",
      "description": "Typed CRUD over any model in your schema."
    },
    {
      "name": "Coordination",
      "description": "Claims — pessimistic row reservation for human+agent coordination."
    },
    {
      "name": "State",
      "description": "Atomic multi-model commits."
    },
    {
      "name": "Control plane",
      "description": "Capabilities and usage."
    }
  ],
  "paths": {
    "/v1/commits": {
      "post": {
        "summary": "Commit one or more mutations",
        "operationId": "createCommit",
        "tags": [
          "State"
        ],
        "description": "Submit a batch of typed mutations. Atomic: if any operation is denied or fails, the entire commit is rejected. Successful commits broadcast a typed `SyncDelta` to every co-present peer.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Replay-safe identifier; derive it from the business event, not a random value. Same key + same body returns the same receipt."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "$ref": "#/components/schemas/CommitOperation"
                    }
                  },
                  "reads": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ReadDependency"
                    },
                    "description": "Batch-level read dependencies. If a premise moved, its `onStale` policy applies to the whole batch."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Commit receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitReceipt"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Capability denied — body carries `requiredCapability`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/capabilities": {
      "get": {
        "summary": "List capabilities",
        "operationId": "listCapabilities",
        "tags": [
          "Control plane"
        ],
        "responses": {
          "200": {
            "description": "Capabilities issued for this key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Capability"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Mint a capability",
        "operationId": "createCapability",
        "tags": [
          "Control plane"
        ],
        "description": "Mint a scoped, short-lived token (e.g. for an agent) from a secret key.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "can": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Allowed model aliases."
                  },
                  "syncGroups": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "ttlSeconds": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The minted capability (token shown once).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Capability"
                }
              }
            }
          },
          "403": {
            "description": "The presented key cannot mint this scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/capabilities/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The record id."
        }
      ],
      "get": {
        "summary": "Retrieve a capability",
        "operationId": "retrieveCapability",
        "tags": [
          "Control plane"
        ],
        "responses": {
          "200": {
            "description": "The capability.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Capability"
                }
              }
            }
          },
          "404": {
            "description": "No such capability.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Revoke a capability",
        "operationId": "revokeCapability",
        "tags": [
          "Control plane"
        ],
        "responses": {
          "200": {
            "description": "Revoked."
          },
          "404": {
            "description": "No such capability.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/usage": {
      "get": {
        "summary": "Read usage",
        "operationId": "getUsage",
        "tags": [
          "Control plane"
        ],
        "description": "Current-period usage counters for the calling organization.",
        "responses": {
          "200": {
            "description": "Usage counters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Usage"
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/{model}": {
      "get": {
        "tags": [
          "Records"
        ],
        "summary": "List records of a model",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "Any model in your pushed schema. `task` is the running example.",
            "schema": {
              "type": "string"
            },
            "example": "task"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of rows",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "list"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Task"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Records"
        ],
        "summary": "Create a record",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "Any model in your pushed schema. `task` is the running example.",
            "schema": {
              "type": "string"
            },
            "example": "task"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "anyOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "status": {
                    "default": "todo",
                    "type": "string"
                  },
                  "priority": {
                    "default": "medium",
                    "type": "string"
                  },
                  "projectId": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "teamId": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "chatId": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "parentId": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "startDate": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "endDate": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "dueDate": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "completedAt": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "order": {
                    "default": 0,
                    "type": "number"
                  },
                  "orderKey": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "metadata": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "archivedAt": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "updatedBy": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Commit receipt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitReceipt"
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/{model}/{id}": {
      "get": {
        "tags": [
          "Records"
        ],
        "summary": "Retrieve a record",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "Any model in your pushed schema. `task` is the running example.",
            "schema": {
              "type": "string"
            },
            "example": "task"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The row",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Task"
                    },
                    "stamp": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Records"
        ],
        "summary": "Update a record",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "Any model in your pushed schema. `task` is the running example.",
            "schema": {
              "type": "string"
            },
            "example": "task"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "anyOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "status": {
                    "default": "todo",
                    "type": "string"
                  },
                  "priority": {
                    "default": "medium",
                    "type": "string"
                  },
                  "projectId": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "teamId": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "chatId": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "parentId": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "startDate": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "endDate": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "dueDate": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "completedAt": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "order": {
                    "default": 0,
                    "type": "number"
                  },
                  "orderKey": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "metadata": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "archivedAt": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "updatedBy": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Commit receipt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitReceipt"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Records"
        ],
        "summary": "Delete a record",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "Any model in your pushed schema. `task` is the running example.",
            "schema": {
              "type": "string"
            },
            "example": "task"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Commit receipt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitReceipt"
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/{model}/{id}/claim": {
      "post": {
        "tags": [
          "Coordination"
        ],
        "summary": "Claim a record",
        "description": "Acquire a lease on the row so other writers queue behind you.",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "Any model in your pushed schema. `task` is the running example.",
            "schema": {
              "type": "string"
            },
            "example": "task"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Claim acquired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Coordination"
        ],
        "summary": "Release a claim",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "Any model in your pushed schema. `task` is the running example.",
            "schema": {
              "type": "string"
            },
            "example": "task"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Released",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/{model}/{id}/claim/heartbeat": {
      "post": {
        "tags": [
          "Coordination"
        ],
        "summary": "Heartbeat a claim",
        "description": "Extend the lease on a held claim for long-running work.",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "Any model in your pushed schema. `task` is the running example.",
            "schema": {
              "type": "string"
            },
            "example": "task"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lease extended (or queued slot refreshed)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "claim_heartbeat"
                      ]
                    },
                    "claimId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "held",
                        "queued"
                      ]
                    },
                    "expiresAt": {
                      "type": "integer"
                    },
                    "position": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/{model}/{id}/claim/reorder": {
      "post": {
        "tags": [
          "Coordination"
        ],
        "summary": "Reorder the claim wait-line (privileged)",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "Any model in your pushed schema. `task` is the running example.",
            "schema": {
              "type": "string"
            },
            "example": "task"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reordered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key (`sk_live_…`) or a scoped capability/ephemeral token. The same header carries both — the server discriminates by token shape."
      }
    },
    "schemas": {
      "ReadDependency": {
        "type": "object",
        "description": "A read the batch depends on. Row form: `{ model, id, readAt, fields? }`. Group form: `{ group, readAt }`.",
        "properties": {
          "model": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "group": {
            "type": "string"
          },
          "readAt": {
            "type": "integer"
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CommitReceipt": {
        "type": "object",
        "required": [
          "object",
          "clientTxId",
          "serverTxId",
          "success",
          "status"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "commit_receipt"
          },
          "clientTxId": {
            "type": "string"
          },
          "serverTxId": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "confirmed",
              "rejected"
            ]
          },
          "lastSyncId": {
            "type": "integer"
          },
          "ops": {
            "type": "integer"
          },
          "missingIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Ids of any UPDATE/DELETE that matched zero rows (omitted when nothing missed)."
          },
          "notifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StaleNotification"
            },
            "description": "Held-write advisories from `onStale: \"notify\"`."
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "field": {
                "type": "string"
              },
              "requiredCapability": {
                "$ref": "#/components/schemas/RequiredCapability"
              }
            }
          }
        }
      },
      "StaleNotification": {
        "type": "object",
        "description": "Returned when a write was held under `onStale: \"notify\"`. Carries the field’s current value so the actor reconciles and re-commits.",
        "properties": {
          "object": {
            "type": "string",
            "const": "stale_notification"
          },
          "model": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "readAt": {
            "type": "integer"
          },
          "observedSyncId": {
            "type": "integer"
          },
          "conflictingFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "currentValues": {
            "type": "object",
            "additionalProperties": true
          },
          "writtenBy": {
            "type": "string"
          },
          "group": {
            "type": "string"
          }
        }
      },
      "Capability": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "capability"
          },
          "id": {
            "type": "string"
          },
          "token": {
            "type": [
              "string",
              "null"
            ],
            "description": "Shown once at creation."
          },
          "can": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "syncGroups": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "expiresAt": {
            "type": "integer"
          }
        }
      },
      "Usage": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "usage"
          },
          "period": {
            "type": "object",
            "properties": {
              "start": {
                "type": "integer"
              },
              "end": {
                "type": "integer"
              }
            }
          },
          "commits": {
            "type": "integer"
          },
          "reads": {
            "type": "integer"
          }
        }
      },
      "RequiredCapability": {
        "type": "object",
        "description": "On a 403, the scope the caller was missing.",
        "properties": {
          "can": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "syncGroup": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "type",
          "message"
        ],
        "description": "Canonical error envelope. Every HTTP error response and every WebSocket frame error carries these fields.",
        "properties": {
          "type": {
            "type": "string",
            "description": "Coarse error class (e.g. `AbloValidationError`, `AbloPermissionError`)."
          },
          "code": {
            "type": "string",
            "description": "Stable machine code for the specific error."
          },
          "param": {
            "type": "string",
            "description": "Offending model/field path, when parameter-specific."
          },
          "message": {
            "type": "string",
            "description": "Human-readable explanation."
          },
          "doc_url": {
            "type": "string",
            "description": "Link to the docs page for this code."
          },
          "request_id": {
            "type": "string",
            "description": "Request correlation id, echoed on the `x-request-id` response header."
          }
        },
        "additionalProperties": true
      },
      "CommitOperationBase": {
        "type": "object",
        "description": "Fields common to every commit operation, regardless of model.",
        "required": [
          "action",
          "id"
        ],
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "create",
              "update",
              "delete",
              "archive",
              "unarchive"
            ],
            "description": "Mutation verb. `data` is required for create/update and omitted for delete/archive/unarchive."
          },
          "id": {
            "type": "string",
            "description": "Target row id. Generate it before a create so retries address the same row."
          },
          "transactionId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional per-operation correlation id. The SDK uses it to recognize the confirming sync delta for an optimistic write."
          },
          "readAt": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Watermark from when the caller reasoned about the target. The server detects writes since this id and applies `onStale`. SDK-managed; leave unset for last-writer-wins."
          },
          "onStale": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "reject",
              "overwrite",
              "notify",
              null
            ],
            "description": "Conflict policy when `readAt` is stale: reject the commit, overwrite the newer value, or commit and return a notification."
          }
        },
        "x-generated": "commit-inputs"
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Server-assigned row id."
          },
          "number": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "title": {
            "type": "string"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "default": "todo",
            "type": "string"
          },
          "priority": {
            "default": "medium",
            "type": "string"
          },
          "projectId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "teamId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "chatId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "parentId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "startDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "endDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "dueDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "completedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "order": {
            "default": 0,
            "type": "number"
          },
          "orderKey": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "archivedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "updatedBy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "title",
          "status",
          "priority",
          "order"
        ],
        "additionalProperties": false,
        "description": "A `task` record as returned by reads.",
        "x-generated": "commit-inputs"
      },
      "CommitOperation": {
        "description": "A single typed mutation. `model` names the target model in your schema; `data` is that model’s row shape for create/update (omit for delete).",
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "description": "Target model in your pushed schema.",
                "example": "task"
              },
              "data": {
                "type": "object",
                "additionalProperties": true,
                "description": "Row payload for create/update."
              }
            }
          }
        ]
      }
    }
  }
}
