{
  "openapi": "3.1.0",
  "info": {
    "title": "state \u2014 Ablo Sync Engine API",
    "version": "0.1.0",
    "description": "The HTTP surface of the Ablo sync engine. Most production traffic flows over WebSocket via `@abloatai/ablo`; this HTTP API is the Vercel-safe transport for environments that cannot hold long-lived sockets, plus the control plane for capabilities, tasks, and usage."
  },
  "servers": [
    {
      "url": "https://api.abloatai.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:8787",
      "description": "Local development"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key (`sk_live_\u2026`) or a scoped capability token. The same header carries both \u2014 the server discriminates by token shape."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "type",
          "message"
        ],
        "description": "Canonical error envelope. Every HTTP error response and every WebSocket frame error carries these fields. Some errors add structured detail alongside them (e.g. a schema push adds `warnings`/`unexecutable`), so additional properties may be present.",
        "properties": {
          "type": {
            "type": "string",
            "description": "Coarse error class. Catch with `instanceof` or switch on it (e.g. `AbloValidationError`, `AbloPermissionError`)."
          },
          "code": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "param": {
            "type": "string",
            "description": "Offending model/field path, when the error is parameter-specific (Stripe-style `param`)."
          },
          "message": {
            "type": "string",
            "description": "Human-readable explanation."
          },
          "doc_url": {
            "type": "string",
            "description": "Link to the docs page for this code."
          },
          "request_id": {
            "type": "string",
            "description": "Request correlation id, echoed on the `x-request-id` response header of every response. Quote in support tickets."
          }
        },
        "additionalProperties": true
      },
      "RequiredCapability": {
        "type": "object",
        "description": "Structured retry hint emitted when the Hub denies a request due to insufficient capability scope. Lets the client locally attenuate a parent capability and retry without an issuer round-trip.",
        "properties": {
          "scope": {
            "type": "string",
            "description": "Operation identifier or `subscribe`."
          },
          "constraints": {
            "type": "object",
            "additionalProperties": true,
            "description": "Datalog fact families the cap must satisfy (e.g. `{ syncGroup: [\"org_abc\"] }`)."
          },
          "issuer": {
            "type": "string"
          },
          "ttlSeconds": {
            "type": "integer"
          },
          "nonce": {
            "type": "string"
          }
        },
        "required": [
          "scope"
        ]
      },
      "CommitReceipt": {
        "type": "object",
        "required": [
          "object",
          "clientTxId",
          "serverTxId",
          "success",
          "status"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "commit_receipt"
            ]
          },
          "clientTxId": {
            "type": "string"
          },
          "serverTxId": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "confirmed",
              "rejected"
            ]
          },
          "lastSyncId": {
            "type": "integer"
          },
          "ops": {
            "type": "integer"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "field": {
                "type": "string"
              },
              "requiredCapability": {
                "$ref": "#/components/schemas/RequiredCapability"
              }
            }
          }
        }
      },
      "CapabilityMintRequest": {
        "type": "object",
        "required": [
          "participantKind",
          "ttlSeconds"
        ],
        "properties": {
          "participantKind": {
            "type": "string",
            "enum": [
              "agent",
              "system"
            ],
            "description": "User caps cannot be minted via API \u2014 only `agent` or `system`."
          },
          "participantId": {
            "type": "string",
            "description": "Identity bound into the capability. Defaults to the caller's userId when omitted."
          },
          "allowedSyncGroups": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Sync-groups this capability may subscribe to. Required unless `wideScope: true`."
          },
          "allowedOperations": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Operation facts (e.g. `slide.update`, `task.create`). Required unless `wideScope: true`."
          },
          "ttlSeconds": {
            "type": "integer",
            "minimum": 1
          },
          "label": {
            "type": "string",
            "description": "Optional human-readable label for audit logs."
          },
          "wideScope": {
            "type": "boolean",
            "default": false,
            "description": "Opt out of narrow-scope requirement. Admin/owner role or API-key caller only."
          },
          "userMeta": {
            "type": "object",
            "additionalProperties": true,
            "description": "Caller-attested end-user identity blob (B2B2C). Echoed on read; server does not validate."
          }
        }
      },
      "Capability": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "capability"
            ]
          },
          "token": {
            "type": "string",
            "description": "Capability token, base64url. Present only on mint response, not on inspect."
          },
          "participantKind": {
            "type": "string"
          },
          "participantId": {
            "type": "string"
          },
          "allowedSyncGroups": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "allowedOperations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "revokedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "label": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "IntentCreateRequest": {
        "type": "object",
        "required": [
          "target",
          "action"
        ],
        "properties": {
          "intentId": {
            "type": "string",
            "description": "Client-issued idempotency handle. Server generates one when omitted."
          },
          "target": {
            "type": "object",
            "required": [
              "resource",
              "id"
            ],
            "properties": {
              "resource": {
                "type": "string",
                "description": "Model name (e.g. `slide`, `task`)."
              },
              "id": {
                "type": "string"
              },
              "path": {
                "type": "string"
              },
              "field": {
                "type": "string"
              },
              "range": {
                "type": "object"
              },
              "meta": {
                "type": "object"
              }
            }
          },
          "action": {
            "type": "string",
            "description": "Action verb (e.g. `edit`, `claim`)."
          },
          "ttl": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ],
            "description": "Seconds or duration string (`30s`, `5m`). Defaults to server policy."
          }
        }
      },
      "Intent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "actor": {
            "type": "string"
          },
          "participantKind": {
            "type": "string",
            "enum": [
              "user",
              "agent",
              "system"
            ]
          },
          "action": {
            "type": "string"
          },
          "field": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "target": {
            "type": "object",
            "properties": {
              "resource": {
                "type": "string"
              },
              "id": {
                "type": "string"
              },
              "path": {
                "type": "string"
              },
              "field": {
                "type": "string"
              }
            }
          }
        }
      },
      "TaskOpenRequest": {
        "type": "object",
        "required": [
          "prompt"
        ],
        "properties": {
          "prompt": {
            "type": "string",
            "maxLength": 256000,
            "description": "Input prompt for the agent turn. Hashed for audit + stored under separate retention."
          },
          "surface": {
            "type": "string",
            "enum": [
              "chat_deck",
              "chat_spreadsheet",
              "chat_document",
              "chat_unified",
              "mcp",
              "agent_worker",
              "eval",
              "other"
            ]
          },
          "parentTaskId": {
            "type": "string",
            "description": "When set, links this turn under a parent. Parent must belong to the same agent + org."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Server-assigned row id."
          },
          "number": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "title": {
            "type": "string"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "default": "todo",
            "type": "string"
          },
          "priority": {
            "default": "medium",
            "type": "string"
          },
          "projectId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "teamId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "chatId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "parentId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "startDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "endDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "dueDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "completedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "order": {
            "default": 0,
            "type": "number"
          },
          "orderKey": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "archivedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "updatedBy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "title",
          "status",
          "priority",
          "order"
        ],
        "additionalProperties": false,
        "description": "A `task` record as returned by reads.",
        "x-generated": "commit-inputs"
      },
      "TaskCloseRequest": {
        "type": "object",
        "required": [
          "costInputTokens",
          "costOutputTokens",
          "costComputeMs"
        ],
        "properties": {
          "costInputTokens": {
            "type": "integer",
            "minimum": 0
          },
          "costOutputTokens": {
            "type": "integer",
            "minimum": 0
          },
          "costComputeMs": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "UsageResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "day": {
                  "type": "string",
                  "format": "date"
                },
                "total": {
                  "type": "string",
                  "description": "Aggregate (decimal-as-string)."
                },
                "count": {
                  "type": "integer"
                },
                "api_key_id": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "team_id": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "event_name": {
                  "type": "string"
                },
                "line_item": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              }
            }
          }
        }
      },
      "ErrorCode": {
        "type": "string",
        "description": "Stable machine-readable error code. See the Error codes reference for the full list, HTTP status, and retry semantics. Forward-compatible: treat unknown codes by their `type` + HTTP status.",
        "enum": [
          "agent_perception_missing_context",
          "api_key_required",
          "apikey_expired",
          "apikey_invalid",
          "apikey_missing",
          "apikey_revoked",
          "bootstrap_fetch_timeout",
          "bootstrap_offline",
          "bootstrap_offline_no_cache",
          "bootstrap_response_invalid",
          "bootstrap_response_schema_invalid",
          "byo_role_cannot_enforce_rls",
          "byo_role_unreadable",
          "byo_tenant_tables_unforced_rls",
          "capability_auth_disabled",
          "capability_id_missing",
          "capability_id_required",
          "capability_invalid",
          "capability_not_found",
          "capability_required",
          "capability_scope_denied",
          "check_violation",
          "claim_conflict",
          "claim_lost",
          "commit_failed",
          "commit_no_result",
          "commit_offline_grace_expired",
          "commit_operation_action_required",
          "commit_operation_model_required",
          "commit_operation_required",
          "commit_operation_unsupported",
          "commit_operations_ambiguous",
          "constraint_violation",
          "entity_claimed",
          "entity_fetch_failed",
          "entity_not_found",
          "events_required",
          "exchange_failed",
          "exchange_malformed_response",
          "exchange_network_error",
          "file_upload_auth_required",
          "flush_timeout",
          "forbidden",
          "foreign_key_violation",
          "grant_timeout",
          "idempotency_conflict",
          "idempotency_key_too_long",
          "identity_network_error",
          "identity_resolve_failed",
          "incompatible_change",
          "ingest_failed",
          "intent_conflict",
          "intent_id_required",
          "intent_lease_unavailable",
          "intent_queued",
          "intent_wait_aborted",
          "internal_error",
          "invalid_body",
          "invalid_id",
          "invalid_intent",
          "invalid_json",
          "invalid_model",
          "invalid_participant_kind",
          "invalid_request",
          "invalid_schema",
          "malformed_claim",
          "mesh_message_from_id_spoof",
          "mesh_message_from_kind_mismatch",
          "mesh_message_invalid_input",
          "migration_failed",
          "model_claimed",
          "model_claimed_timeout",
          "model_identifier_missing",
          "model_not_found",
          "model_not_tenant_scoped",
          "model_query_failed",
          "model_required_field_missing",
          "mutate_create_unknown_model",
          "mutate_update_entity_not_found",
          "narrow_scope_required",
          "not_null_violation",
          "org_id_required",
          "organization_mismatch",
          "parent_turn_foreign_agent",
          "parent_turn_not_found",
          "presence_identity_required",
          "presigned_url_failed",
          "provisioner_unavailable",
          "queries_required",
          "query_invalid_identifier",
          "query_relation_target_unknown",
          "query_unknown_relation",
          "query_unsupported_operator",
          "queue_too_deep",
          "schema_field_consecutive_caps",
          "schema_field_not_camelcase",
          "schema_grants_identifier_unsafe",
          "schema_grants_relation_kind",
          "schema_grants_relation_missing",
          "schema_grants_shape_invalid",
          "schema_grants_target_not_scope_root",
          "schema_mutable_missing_meta",
          "schema_scope_invalid",
          "schema_scope_kind_invalid",
          "schema_table_invalid",
          "schema_too_large",
          "server_execute_unknown_model",
          "session_expired",
          "slide_intent_missing_deck_id",
          "slide_intent_unknown_sibling",
          "snapshot_reserved_key",
          "source_api_key_unresolved",
          "source_network_error",
          "stale_context",
          "task_id_missing",
          "task_id_required",
          "tenant_model_columns_unknown",
          "tenant_model_missing_organization_id",
          "turn_close_failed",
          "turn_foreign_agent",
          "turn_not_found",
          "turn_open_failed",
          "turn_validation_failed",
          "unique_violation",
          "unknown_model",
          "upload_fields_required",
          "upload_items_required",
          "usage_invalid",
          "wait_for_timeout",
          "wide_scope_forbidden"
        ]
      },
      "ClaimRequest": {
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "description": "What you intend to do (default \"edit\")."
          },
          "ttl": {
            "description": "Lease lifetime, e.g. \"30s\" or milliseconds.",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ]
          },
          "queue": {
            "type": "boolean",
            "description": "Join the FIFO wait queue instead of failing when held."
          }
        }
      },
      "CommitOperationBase": {
        "type": "object",
        "description": "Fields common to every commit operation, regardless of model.",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "CREATE",
              "UPDATE",
              "DELETE",
              "ARCHIVE",
              "UNARCHIVE"
            ],
            "description": "Mutation verb. `input` is required for CREATE/UPDATE, ignored for DELETE/ARCHIVE/UNARCHIVE."
          },
          "id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Target row id. Omit on CREATE (the server generates one); required on UPDATE/DELETE/ARCHIVE/UNARCHIVE."
          },
          "transactionId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Per-operation echo token, stamped onto the broadcast `SyncDelta.transaction_id` so the originating client recognises its own optimistic write. SDK-managed; distinct from the batch-level `clientTxId`."
          },
          "readAt": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Watermark from when the caller reasoned about the target. The server detects writes since this id and applies `onStale`. SDK-managed; leave unset for last-writer-wins."
          },
          "onStale": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "reject",
              "force",
              "flag",
              "merge",
              null
            ],
            "description": "Conflict policy when `readAt` is stale. `reject` (default) fails the commit; `force` applies unconditionally. `flag`/`merge` are reserved."
          }
        },
        "x-generated": "commit-inputs"
      },
      "AgentInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "model": {
            "default": "gpt-4o-mini",
            "type": "string"
          },
          "systemPrompt": {
            "type": "string"
          },
          "tools": {},
          "temperature": {
            "anyOf": [
              {
                "default": 0.7,
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "maxSteps": {
            "anyOf": [
              {
                "default": 5,
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "isActive": {
            "default": true,
            "type": "boolean"
          }
        },
        "required": [
          "name",
          "systemPrompt",
          "tools"
        ],
        "description": "Field payload for `agent` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "Agent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Server-assigned row id."
          },
          "name": {
            "type": "string"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "model": {
            "default": "gpt-4o-mini",
            "type": "string"
          },
          "systemPrompt": {
            "type": "string"
          },
          "tools": {},
          "temperature": {
            "anyOf": [
              {
                "default": 0.7,
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "maxSteps": {
            "anyOf": [
              {
                "default": 5,
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "isActive": {
            "default": true,
            "type": "boolean"
          }
        },
        "required": [
          "name",
          "model",
          "systemPrompt",
          "tools",
          "isActive"
        ],
        "additionalProperties": false,
        "description": "A `agent` record as returned by reads.",
        "x-generated": "commit-inputs"
      },
      "AgentOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "agent"
              },
              "input": {
                "$ref": "#/components/schemas/AgentInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "AgentJobInput": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "chatId": {
            "type": "string"
          },
          "pluginName": {
            "type": "string"
          },
          "modelId": {
            "type": "string"
          },
          "status": {
            "default": "pending",
            "type": "string"
          },
          "checkpoint": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ]
          },
          "lastStepIndex": {
            "default": 0,
            "type": "number"
          },
          "executionLog": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ]
          },
          "input": {},
          "result": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ]
          },
          "error": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "errorStep": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "startedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "completedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "totalInputTokens": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "totalOutputTokens": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "userId",
          "chatId",
          "pluginName",
          "modelId",
          "input"
        ],
        "description": "Field payload for `agentjob` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "AgentJob": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Server-assigned row id."
          },
          "userId": {
            "type": "string"
          },
          "chatId": {
            "type": "string"
          },
          "pluginName": {
            "type": "string"
          },
          "modelId": {
            "type": "string"
          },
          "status": {
            "default": "pending",
            "type": "string"
          },
          "checkpoint": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ]
          },
          "lastStepIndex": {
            "default": 0,
            "type": "number"
          },
          "executionLog": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ]
          },
          "input": {},
          "result": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ]
          },
          "error": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "errorStep": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "startedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "completedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "totalInputTokens": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "totalOutputTokens": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "userId",
          "chatId",
          "pluginName",
          "modelId",
          "status",
          "lastStepIndex",
          "input"
        ],
        "additionalProperties": false,
        "description": "A `agentjob` record as returned by reads.",
        "x-generated": "commit-inputs"
      },
      "AgentJobOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "agentjob"
              },
              "input": {
                "$ref": "#/components/schemas/AgentJobInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "AssignmentInput": {
        "type": "object",
        "properties": {
          "entityType": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          },
          "assigneeType": {
            "type": "string"
          },
          "assigneeId": {
            "type": "string"
          },
          "assignedBy": {
            "type": "string"
          },
          "assignedAt": {
            "type": "string",
            "format": "date-time"
          },
          "unassignedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "isActive": {
            "default": true,
            "type": "boolean"
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "entityType",
          "entityId",
          "assigneeType",
          "assigneeId",
          "assignedBy",
          "assignedAt"
        ],
        "description": "Field payload for `assignment` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "Assignment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Server-assigned row id."
          },
          "entityType": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          },
          "assigneeType": {
            "type": "string"
          },
          "assigneeId": {
            "type": "string"
          },
          "assignedBy": {
            "type": "string"
          },
          "assignedAt": {
            "type": "string",
            "format": "date-time"
          },
          "unassignedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "isActive": {
            "default": true,
            "type": "boolean"
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "entityType",
          "entityId",
          "assigneeType",
          "assigneeId",
          "assignedBy",
          "assignedAt",
          "isActive"
        ],
        "additionalProperties": false,
        "description": "A `assignment` record as returned by reads.",
        "x-generated": "commit-inputs"
      },
      "AssignmentOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "assignment"
              },
              "input": {
                "$ref": "#/components/schemas/AssignmentInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "AttachmentInput": {
        "type": "object",
        "properties": {
          "filename": {
            "type": "string"
          },
          "originalName": {
            "type": "string"
          },
          "mimeType": {
            "type": "string"
          },
          "fileSize": {
            "type": "number"
          },
          "s3Key": {
            "type": "string"
          },
          "attachableType": {
            "type": "string"
          },
          "attachableId": {
            "type": "string"
          },
          "uploadedBy": {
            "type": "string"
          },
          "uploadedAt": {
            "type": "string",
            "format": "date-time"
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "summary": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "visibility": {
            "default": "org",
            "type": "string",
            "enum": [
              "public",
              "org",
              "private"
            ]
          },
          "chunkAnchorFormat": {
            "default": "bbox",
            "type": "string"
          }
        },
        "required": [
          "filename",
          "originalName",
          "mimeType",
          "fileSize",
          "s3Key",
          "attachableType",
          "attachableId",
          "uploadedBy",
          "uploadedAt"
        ],
        "description": "Field payload for `attachment` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "Attachment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Server-assigned row id."
          },
          "filename": {
            "type": "string"
          },
          "originalName": {
            "type": "string"
          },
          "mimeType": {
            "type": "string"
          },
          "fileSize": {
            "type": "number"
          },
          "s3Key": {
            "type": "string"
          },
          "attachableType": {
            "type": "string"
          },
          "attachableId": {
            "type": "string"
          },
          "uploadedBy": {
            "type": "string"
          },
          "uploadedAt": {
            "type": "string",
            "format": "date-time"
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "summary": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "visibility": {
            "default": "org",
            "type": "string",
            "enum": [
              "public",
              "org",
              "private"
            ]
          },
          "chunkAnchorFormat": {
            "default": "bbox",
            "type": "string"
          }
        },
        "required": [
          "filename",
          "originalName",
          "mimeType",
          "fileSize",
          "s3Key",
          "attachableType",
          "attachableId",
          "uploadedBy",
          "uploadedAt",
          "visibility",
          "chunkAnchorFormat"
        ],
        "additionalProperties": false,
        "description": "A `attachment` record as returned by reads.",
        "x-generated": "commit-inputs"
      },
      "AttachmentOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "attachment"
              },
              "input": {
                "$ref": "#/components/schemas/AttachmentInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "ChatInput": {
        "type": "object",
        "properties": {
          "title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "agentId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "systemPrompt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "userId": {
            "type": "string"
          }
        },
        "required": [
          "userId"
        ],
        "description": "Field payload for `chat` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "Chat": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Server-assigned row id."
          },
          "title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "agentId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "systemPrompt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "userId": {
            "type": "string"
          }
        },
        "required": [
          "userId"
        ],
        "additionalProperties": false,
        "description": "A `chat` record as returned by reads.",
        "x-generated": "commit-inputs"
      },
      "ChatOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "chat"
              },
              "input": {
                "$ref": "#/components/schemas/ChatInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "CommentInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string"
          },
          "authorId": {
            "type": "string"
          },
          "entityType": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "content",
          "authorId",
          "entityType",
          "entityId"
        ],
        "description": "Field payload for `comment` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Server-assigned row id."
          },
          "content": {
            "type": "string"
          },
          "authorId": {
            "type": "string"
          },
          "entityType": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "content",
          "authorId",
          "entityType",
          "entityId"
        ],
        "additionalProperties": false,
        "description": "A `comment` record as returned by reads.",
        "x-generated": "commit-inputs"
      },
      "CommentOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "comment"
              },
              "input": {
                "$ref": "#/components/schemas/CommentInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "DataroomInput": {
        "type": "object",
        "properties": {
          "projectId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "teamId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "mode": {
            "default": "internal",
            "type": "string"
          },
          "externalProvider": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "externalId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "externalUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "archivedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "description": "Field payload for `dataroom` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "Dataroom": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Server-assigned row id."
          },
          "projectId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "teamId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "mode": {
            "default": "internal",
            "type": "string"
          },
          "externalProvider": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "externalId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "externalUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "archivedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "mode"
        ],
        "additionalProperties": false,
        "description": "A `dataroom` record as returned by reads.",
        "x-generated": "commit-inputs"
      },
      "DataroomOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "dataroom"
              },
              "input": {
                "$ref": "#/components/schemas/DataroomInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "DocumentInput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "title"
        ],
        "description": "Field payload for `document` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "Document": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Server-assigned row id."
          },
          "title": {
            "type": "string"
          },
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "title"
        ],
        "additionalProperties": false,
        "description": "A `document` record as returned by reads.",
        "x-generated": "commit-inputs"
      },
      "DocumentOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "document"
              },
              "input": {
                "$ref": "#/components/schemas/DocumentInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "FavoriteInput": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "entityType": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          }
        },
        "required": [
          "userId",
          "entityType",
          "entityId"
        ],
        "description": "Field payload for `favorite` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "Favorite": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Server-assigned row id."
          },
          "userId": {
            "type": "string"
          },
          "entityType": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          }
        },
        "required": [
          "userId",
          "entityType",
          "entityId"
        ],
        "additionalProperties": false,
        "description": "A `favorite` record as returned by reads.",
        "x-generated": "commit-inputs"
      },
      "FavoriteOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "favorite"
              },
              "input": {
                "$ref": "#/components/schemas/FavoriteInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "FileInput": {
        "type": "object",
        "properties": {
          "folderId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "dataroomId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "attachmentId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "documentId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "mimeType": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "originalName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "fileSize": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "displayName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "sortOrder": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "description": "Field payload for `file` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "File": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Server-assigned row id."
          },
          "folderId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "dataroomId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "attachmentId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "documentId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "mimeType": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "originalName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "fileSize": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "displayName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "sortOrder": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "additionalProperties": false,
        "description": "A `file` record as returned by reads.",
        "x-generated": "commit-inputs"
      },
      "FileOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "file"
              },
              "input": {
                "$ref": "#/components/schemas/FileInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "FolderInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "parentId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "dataroomId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "name"
        ],
        "description": "Field payload for `folder` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "Folder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Server-assigned row id."
          },
          "name": {
            "type": "string"
          },
          "parentId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "dataroomId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "name"
        ],
        "additionalProperties": false,
        "description": "A `folder` record as returned by reads.",
        "x-generated": "commit-inputs"
      },
      "FolderOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "folder"
              },
              "input": {
                "$ref": "#/components/schemas/FolderInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "InvitationInput": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "inviterId": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "status": {
            "default": "pending",
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "teamId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "email",
          "inviterId",
          "role",
          "expiresAt"
        ],
        "description": "Field payload for `invitation` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "Invitation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Server-assigned row id."
          },
          "email": {
            "type": "string"
          },
          "inviterId": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "status": {
            "default": "pending",
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "teamId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "email",
          "inviterId",
          "role",
          "status",
          "expiresAt"
        ],
        "additionalProperties": false,
        "description": "A `invitation` record as returned by reads.",
        "x-generated": "commit-inputs"
      },
      "InvitationOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "invitation"
              },
              "input": {
                "$ref": "#/components/schemas/InvitationInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "LayoutInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "masterId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "themeId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "deckId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "name"
        ],
        "description": "Field payload for `layout` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "Layout": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Server-assigned row id."
          },
          "name": {
            "type": "string"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "masterId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "themeId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "deckId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "name"
        ],
        "additionalProperties": false,
        "description": "A `layout` record as returned by reads.",
        "x-generated": "commit-inputs"
      },
      "LayoutOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "layout"
              },
              "input": {
                "$ref": "#/components/schemas/LayoutInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "MemberInput": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "customPermissions": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ]
          },
          "joinedAt": {
            "description": "__sync:{\"type\":\"date\",\"isIndexed\":false,\"column\":\"joinedAt\"}",
            "type": "string",
            "format": "date-time"
          },
          "isPrimary": {
            "default": true,
            "description": "__sync:{\"type\":\"boolean\",\"isIndexed\":false,\"column\":\"isPrimary\"}",
            "type": "boolean"
          },
          "lastActiveAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "default": "ACTIVE",
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE",
              "SUSPENDED",
              "PENDING_VERIFICATION"
            ]
          }
        },
        "required": [
          "userId",
          "role",
          "joinedAt"
        ],
        "description": "Field payload for `member` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Server-assigned row id."
          },
          "userId": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "customPermissions": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ]
          },
          "joinedAt": {
            "description": "__sync:{\"type\":\"date\",\"isIndexed\":false,\"column\":\"joinedAt\"}",
            "type": "string",
            "format": "date-time"
          },
          "isPrimary": {
            "default": true,
            "description": "__sync:{\"type\":\"boolean\",\"isIndexed\":false,\"column\":\"isPrimary\"}",
            "type": "boolean"
          },
          "lastActiveAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "default": "ACTIVE",
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE",
              "SUSPENDED",
              "PENDING_VERIFICATION"
            ]
          }
        },
        "required": [
          "userId",
          "role",
          "joinedAt",
          "isPrimary",
          "status"
        ],
        "additionalProperties": false,
        "description": "A `member` record as returned by reads.",
        "x-generated": "commit-inputs"
      },
      "MemberOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "member"
              },
              "input": {
                "$ref": "#/components/schemas/MemberInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "MeshMessageInput": {
        "type": "object",
        "properties": {
          "fromId": {
            "type": "string"
          },
          "fromKind": {
            "type": "string",
            "enum": [
              "user",
              "agent",
              "system"
            ]
          },
          "toId": {
            "type": "string"
          },
          "toKind": {
            "type": "string",
            "enum": [
              "user",
              "agent",
              "system"
            ]
          },
          "kind": {
            "type": "string"
          },
          "payload": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "fromId",
          "fromKind",
          "toId",
          "toKind",
          "kind"
        ],
        "description": "Field payload for `meshmessage` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "MeshMessage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Server-assigned row id."
          },
          "fromId": {
            "type": "string"
          },
          "fromKind": {
            "type": "string",
            "enum": [
              "user",
              "agent",
              "system"
            ]
          },
          "toId": {
            "type": "string"
          },
          "toKind": {
            "type": "string",
            "enum": [
              "user",
              "agent",
              "system"
            ]
          },
          "kind": {
            "type": "string"
          },
          "payload": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "fromId",
          "fromKind",
          "toId",
          "toKind",
          "kind"
        ],
        "additionalProperties": false,
        "description": "A `meshmessage` record as returned by reads.",
        "x-generated": "commit-inputs"
      },
      "MeshMessageOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "meshmessage"
              },
              "input": {
                "$ref": "#/components/schemas/MeshMessageInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "MessageInput": {
        "type": "object",
        "properties": {
          "chatId": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "chatId",
          "role"
        ],
        "description": "Field payload for `message` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "Message": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Server-assigned row id."
          },
          "chatId": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "chatId",
          "role"
        ],
        "additionalProperties": false,
        "description": "A `message` record as returned by reads.",
        "x-generated": "commit-inputs"
      },
      "MessageOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "message"
              },
              "input": {
                "$ref": "#/components/schemas/MessageInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "MessagePartInput": {
        "type": "object",
        "properties": {
          "messageId": {
            "type": "string"
          },
          "order": {
            "default": 0,
            "type": "number"
          },
          "textContent": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "reasoningContent": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "fileAttachmentId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "fileName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "fileType": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "toolName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "toolCallId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "toolInput": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ]
          },
          "toolOutput": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ]
          },
          "toolState": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "dataType": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "dataContent": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "messageId"
        ],
        "description": "Field payload for `messagepart` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "MessagePart": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Server-assigned row id."
          },
          "messageId": {
            "type": "string"
          },
          "order": {
            "default": 0,
            "type": "number"
          },
          "textContent": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "reasoningContent": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "fileAttachmentId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "fileName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "fileType": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "toolName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "toolCallId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "toolInput": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ]
          },
          "toolOutput": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ]
          },
          "toolState": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "dataType": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "dataContent": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "messageId",
          "order"
        ],
        "additionalProperties": false,
        "description": "A `messagepart` record as returned by reads.",
        "x-generated": "commit-inputs"
      },
      "MessagePartOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "messagepart"
              },
              "input": {
                "$ref": "#/components/schemas/MessagePartInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "ObjectLinkInput": {
        "type": "object",
        "properties": {
          "linkType": {
            "type": "string"
          },
          "source": {
            "default": "user",
            "type": "string"
          },
          "sourceType": {
            "type": "string"
          },
          "sourceId": {
            "type": "string"
          },
          "targetType": {
            "type": "string"
          },
          "targetId": {
            "type": "string"
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "linkType",
          "sourceType",
          "sourceId",
          "targetType",
          "targetId"
        ],
        "description": "Field payload for `objectlink` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "ObjectLink": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Server-assigned row id."
          },
          "linkType": {
            "type": "string"
          },
          "source": {
            "default": "user",
            "type": "string"
          },
          "sourceType": {
            "type": "string"
          },
          "sourceId": {
            "type": "string"
          },
          "targetType": {
            "type": "string"
          },
          "targetId": {
            "type": "string"
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "linkType",
          "source",
          "sourceType",
          "sourceId",
          "targetType",
          "targetId"
        ],
        "additionalProperties": false,
        "description": "A `objectlink` record as returned by reads.",
        "x-generated": "commit-inputs"
      },
      "ObjectLinkOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "objectlink"
              },
              "input": {
                "$ref": "#/components/schemas/ObjectLinkInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "ProjectInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "status": {
            "default": "prospect",
            "type": "string"
          },
          "priority": {
            "default": "medium",
            "type": "string"
          },
          "chatId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "companyId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "startDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "endDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "targetDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "closedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "order": {
            "default": 0,
            "type": "number"
          },
          "orderKey": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "archivedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "updatedBy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "name",
          "type"
        ],
        "description": "Field payload for `project` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Server-assigned row id."
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "status": {
            "default": "prospect",
            "type": "string"
          },
          "priority": {
            "default": "medium",
            "type": "string"
          },
          "chatId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "companyId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "startDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "endDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "targetDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "closedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "order": {
            "default": 0,
            "type": "number"
          },
          "orderKey": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "archivedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "updatedBy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "name",
          "type",
          "status",
          "priority",
          "order"
        ],
        "additionalProperties": false,
        "description": "A `project` record as returned by reads.",
        "x-generated": "commit-inputs"
      },
      "ProjectOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "project"
              },
              "input": {
                "$ref": "#/components/schemas/ProjectInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "ProjectTeamInput": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string"
          },
          "teamId": {
            "type": "string"
          }
        },
        "required": [
          "projectId",
          "teamId"
        ],
        "description": "Field payload for `projectteam` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "ProjectTeam": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Server-assigned row id."
          },
          "projectId": {
            "type": "string"
          },
          "teamId": {
            "type": "string"
          }
        },
        "required": [
          "projectId",
          "teamId"
        ],
        "additionalProperties": false,
        "description": "A `projectteam` record as returned by reads.",
        "x-generated": "commit-inputs"
      },
      "ProjectTeamOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "projectteam"
              },
              "input": {
                "$ref": "#/components/schemas/ProjectTeamInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "ResourceAccessInput": {
        "type": "object",
        "properties": {
          "resourceType": {
            "type": "string"
          },
          "resourceId": {
            "type": "string"
          },
          "userId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "permission": {
            "default": "view",
            "type": "string"
          },
          "scopeType": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "scopeId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "invitedBy": {
            "type": "string"
          },
          "expiresAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
[...]
