{
  "openapi": "3.1.0",
  "info": {
    "title": "Ablo Sync Engine HTTP API",
    "version": "0.16.1",
    "description": "The HTTP surface of the Ablo sync engine. Most production traffic flows over WebSocket via `@abloatai/ablo`; this HTTP API is the Vercel-safe transport for environments that cannot hold long-lived sockets, plus the control plane for capabilities and usage.\n\nThe per-model resource routes (`/v1/models/{model}`) are **generated from your own pushed schema** — they are documented here generically over `{model}`, with `tasks` as the running example. Authenticate every request with a `Bearer` API key or scoped token."
  },
  "servers": [
    {
      "url": "https://api.abloatai.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:8787",
      "description": "Local development"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Records",
      "description": "Typed CRUD over any model in your schema."
    },
    {
      "name": "Coordination",
      "description": "Claims — pessimistic row reservation for human+agent coordination."
    },
    {
      "name": "State",
      "description": "Atomic multi-model commits."
    },
    {
      "name": "Control plane",
      "description": "Capabilities and usage."
    }
  ],
  "paths": {
    "/v1/models/{model}": {
      "parameters": [
        {
          "name": "model",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The model name from your pushed schema (e.g. `tasks`). The HTTP model API is generated from your own schema — these paths are generic over every model you define."
        }
      ],
      "get": {
        "summary": "List records",
        "operationId": "listRecords",
        "tags": [
          "Records"
        ],
        "description": "A cursor-paginated page of records for a model, scoped to the caller’s organization.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Page size (default 20, max 100)."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort direction (default asc)."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Column to order by (default \"id\")."
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor from a prior page (`next_cursor`)."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of records.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordList"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Capability scope denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a record",
        "operationId": "createRecord",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Replay-safe identifier; derive it from the business event, not a random value. Same key + same body returns the same receipt; same key + different body returns 409."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/RecordData"
                  },
                  "id": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Client-chosen id on create (server generates one when omitted)."
                  },
                  "onStale": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "enum": [
                      "reject",
                      "overwrite",
                      "notify",
                      null
                    ],
                    "description": "Conflict policy when the write is based on a stale snapshot. `reject` (default) fails with `AbloStaleContextError`; `overwrite` is blind last-writer-wins; `notify` holds the write and returns the current value so you can re-apply."
                  },
                  "readAt": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Sync watermark the write was based on. Enables stale-state detection."
                  },
                  "claim": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Claim id this write is bound to (held across a slow read→write gap)."
                  },
                  "idempotencyKey": {
                    "type": "string",
                    "description": "Alternative to the `Idempotency-Key` header."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Commit receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitReceipt"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Capability scope denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency key reused with a different body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/{model}/{id}": {
      "parameters": [
        {
          "name": "model",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The model name from your pushed schema (e.g. `tasks`). The HTTP model API is generated from your own schema — these paths are generic over every model you define."
        },
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The record id."
        }
      ],
      "get": {
        "summary": "Retrieve a record",
        "operationId": "retrieveRecord",
        "tags": [
          "Records"
        ],
        "responses": {
          "200": {
            "description": "The record, wrapped in a read envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "No such record.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a record",
        "operationId": "updateRecord",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Replay-safe identifier; derive it from the business event, not a random value. Same key + same body returns the same receipt; same key + different body returns 409."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/RecordData"
                  },
                  "onStale": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "enum": [
                      "reject",
                      "overwrite",
                      "notify",
                      null
                    ],
                    "description": "Conflict policy when the write is based on a stale snapshot. `reject` (default) fails with `AbloStaleContextError`; `overwrite` is blind last-writer-wins; `notify` holds the write and returns the current value so you can re-apply."
                  },
                  "readAt": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Sync watermark the write was based on. Enables stale-state detection."
                  },
                  "claim": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Claim id this write is bound to (held across a slow read→write gap)."
                  },
                  "idempotencyKey": {
                    "type": "string",
                    "description": "Alternative to the `Idempotency-Key` header."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Commit receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitReceipt"
                }
              }
            }
          },
          "403": {
            "description": "Capability scope denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such record.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Stale write or claim conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a record",
        "operationId": "deleteRecord",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Replay-safe identifier; derive it from the business event, not a random value. Same key + same body returns the same receipt; same key + different body returns 409."
          }
        ],
        "responses": {
          "200": {
            "description": "Commit receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitReceipt"
                }
              }
            }
          },
          "403": {
            "description": "Capability scope denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such record.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/{model}/{id}/claim": {
      "parameters": [
        {
          "name": "model",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The model name from your pushed schema (e.g. `tasks`). The HTTP model API is generated from your own schema — these paths are generic over every model you define."
        },
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The record id."
        }
      ],
      "post": {
        "summary": "Claim a record",
        "operationId": "claimRecord",
        "tags": [
          "Coordination"
        ],
        "description": "Reserve a row for one participant. Foreign writers are rejected; contenders join a fair FIFO queue. Hold a claim across a slow read→LLM→write gap.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "Human-readable phase, e.g. `editing`, `writing`, `reviewing`."
                  },
                  "queue": {
                    "type": "boolean",
                    "description": "Join the FIFO queue instead of failing when the row is already claimed."
                  },
                  "ttlSeconds": {
                    "type": "integer",
                    "description": "Lease duration; auto-renewed while the holder stays connected."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The claim (active or queued).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Claim"
                }
              }
            }
          },
          "409": {
            "description": "Already claimed by another participant (carries `claims`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Release a claim",
        "operationId": "releaseClaim",
        "tags": [
          "Coordination"
        ],
        "responses": {
          "200": {
            "description": "Released."
          },
          "404": {
            "description": "No claim held.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/commits": {
      "post": {
        "summary": "Commit one or more mutations",
        "operationId": "createCommit",
        "tags": [
          "State"
        ],
        "description": "Submit a batch of typed mutations. Atomic: if any operation is denied or fails, the entire commit is rejected. Successful commits broadcast a typed `SyncDelta` to every co-present peer.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Replay-safe identifier; derive it from the business event, not a random value. Same key + same body returns the same receipt; same key + different body returns 409."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CommitOperation"
                    }
                  },
                  "reads": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ReadDependency"
                    },
                    "description": "Batch-level read dependencies — \"did anything I looked at change?\" A moved premise fires that entry’s `onStale` over the whole batch."
                  },
                  "clientTxId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Commit receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitReceipt"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Capability denied — body carries `requiredCapability`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/capabilities": {
      "get": {
        "summary": "List capabilities",
        "operationId": "listCapabilities",
        "tags": [
          "Control plane"
        ],
        "responses": {
          "200": {
            "description": "Capabilities issued for this key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Capability"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Mint a capability",
        "operationId": "createCapability",
        "tags": [
          "Control plane"
        ],
        "description": "Mint a scoped, short-lived token (e.g. for an agent) from a secret key.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "can": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Allowed model aliases."
                  },
                  "syncGroups": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "ttlSeconds": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The minted capability (token shown once).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Capability"
                }
              }
            }
          },
          "403": {
            "description": "The presented key cannot mint this scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/capabilities/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The record id."
        }
      ],
      "get": {
        "summary": "Retrieve a capability",
        "operationId": "retrieveCapability",
        "tags": [
          "Control plane"
        ],
        "responses": {
          "200": {
            "description": "The capability.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Capability"
                }
              }
            }
          },
          "404": {
            "description": "No such capability.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Revoke a capability",
        "operationId": "revokeCapability",
        "tags": [
          "Control plane"
        ],
        "responses": {
          "200": {
            "description": "Revoked."
          },
          "404": {
            "description": "No such capability.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/usage": {
      "get": {
        "summary": "Read usage",
        "operationId": "getUsage",
        "tags": [
          "Control plane"
        ],
        "description": "Current-period usage counters for the calling organization.",
        "responses": {
          "200": {
            "description": "Usage counters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Usage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key (`sk_live_…`) or a scoped capability/ephemeral token. The same header carries both — the server discriminates by token shape."
      }
    },
    "schemas": {
      "RecordData": {
        "type": "object",
        "additionalProperties": true,
        "description": "The model’s fields, as defined in your schema. Shape varies per model; system fields (`id`, `createdAt`, `updatedAt`, `organizationId`, `createdBy`) are server-managed."
      },
      "Record": {
        "type": "object",
        "additionalProperties": true,
        "description": "A stored record: your fields plus the server-managed system fields."
      },
      "RecordEnvelope": {
        "type": "object",
        "description": "Read envelope returned by retrieve.",
        "properties": {
          "object": {
            "type": "string",
            "const": "record"
          },
          "model": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/Record"
          },
          "stamp": {
            "type": "integer",
            "description": "Sync watermark; pass back as `readAt` for stale-safe writes."
          }
        }
      },
      "RecordList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "list"
          },
          "model": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Record"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          },
          "stamp": {
            "type": "integer"
          }
        }
      },
      "CommitOperation": {
        "type": "object",
        "description": "A single typed mutation. `model` names a model in your schema; `data` is that model’s field shape.",
        "required": [
          "action",
          "model"
        ],
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "create",
              "update",
              "delete"
            ]
          },
          "model": {
            "type": "string",
            "description": "A model name from your pushed schema."
          },
          "id": {
            "type": "string",
            "description": "Target row id (required for update/delete; optional client-chosen id on create)."
          },
          "data": {
            "$ref": "#/components/schemas/RecordData"
          },
          "onStale": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "reject",
              "overwrite",
              "notify",
              null
            ],
            "description": "Conflict policy when the write is based on a stale snapshot. `reject` (default) fails with `AbloStaleContextError`; `overwrite` is blind last-writer-wins; `notify` holds the write and returns the current value so you can re-apply."
          },
          "readAt": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Sync watermark the write was based on. Enables stale-state detection."
          },
          "claim": {
            "type": [
              "string",
              "null"
            ],
            "description": "Claim id this write is bound to (held across a slow read→write gap)."
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Alternative to the `Idempotency-Key` header."
          }
        }
      },
      "ReadDependency": {
        "type": "object",
        "description": "A read the batch depends on. Row form: `{ model, id, readAt, fields? }`. Group form: `{ group, readAt }`.",
        "properties": {
          "model": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "group": {
            "type": "string"
          },
          "readAt": {
            "type": "integer"
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CommitReceipt": {
        "type": "object",
        "required": [
          "object",
          "clientTxId",
          "serverTxId",
          "success",
          "status"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "commit_receipt"
          },
          "clientTxId": {
            "type": "string"
          },
          "serverTxId": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "confirmed",
              "rejected"
            ]
          },
          "lastSyncId": {
            "type": "integer"
          },
          "ops": {
            "type": "integer"
          },
          "missingIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Ids of any UPDATE/DELETE that matched zero rows (omitted when nothing missed)."
          },
          "notifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StaleNotification"
            },
            "description": "Held-write advisories from `onStale: \"notify\"`."
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "field": {
                "type": "string"
              },
              "requiredCapability": {
                "$ref": "#/components/schemas/RequiredCapability"
              }
            }
          }
        }
      },
      "StaleNotification": {
        "type": "object",
        "description": "Returned when a write was held under `onStale: \"notify\"`. Carries the field’s current value so the actor reconciles and re-commits.",
        "properties": {
          "object": {
            "type": "string",
            "const": "stale_notification"
          },
          "model": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "readAt": {
            "type": "integer"
          },
          "observedSyncId": {
            "type": "integer"
          },
          "conflictingFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "currentValues": {
            "type": "object",
            "additionalProperties": true
          },
          "writtenBy": {
            "type": "string"
          },
          "group": {
            "type": "string"
          }
        }
      },
      "Claim": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "claim"
          },
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "queued",
              "committed",
              "expired",
              "canceled"
            ]
          },
          "target": {
            "type": "object",
            "properties": {
              "model": {
                "type": "string"
              },
              "id": {
                "type": "string"
              },
              "field": {
                "type": "string"
              }
            }
          },
          "reason": {
            "type": "string"
          },
          "heldBy": {
            "type": "string"
          },
          "participantKind": {
            "type": "string",
            "enum": [
              "user",
              "agent",
              "system"
            ]
          },
          "position": {
            "type": [
              "integer",
              "null"
            ],
            "description": "0-based place in the FIFO queue when `status: queued`."
          },
          "createdAt": {
            "type": "integer"
          },
          "expiresAt": {
            "type": "integer"
          }
        }
      },
      "Capability": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "capability"
          },
          "id": {
            "type": "string"
          },
          "token": {
            "type": [
              "string",
              "null"
            ],
            "description": "Shown once at creation."
          },
          "can": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "syncGroups": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "expiresAt": {
            "type": "integer"
          }
        }
      },
      "Usage": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "usage"
          },
          "period": {
            "type": "object",
            "properties": {
              "start": {
                "type": "integer"
              },
              "end": {
                "type": "integer"
              }
            }
          },
          "commits": {
            "type": "integer"
          },
          "reads": {
            "type": "integer"
          }
        }
      },
      "RequiredCapability": {
        "type": "object",
        "description": "On a 403, the scope the caller was missing.",
        "properties": {
          "can": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "syncGroup": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "type",
          "message"
        ],
        "description": "Canonical error envelope. Every HTTP error response and every WebSocket frame error carries these fields.",
        "properties": {
          "type": {
            "type": "string",
            "description": "Coarse error class (e.g. `AbloValidationError`, `AbloPermissionError`)."
          },
          "code": {
            "type": "string",
            "description": "Stable machine code for the specific error."
          },
          "param": {
            "type": "string",
            "description": "Offending model/field path, when parameter-specific."
          },
          "message": {
            "type": "string",
            "description": "Human-readable explanation."
          },
          "doc_url": {
            "type": "string",
            "description": "Link to the docs page for this code."
          },
          "request_id": {
            "type": "string",
            "description": "Request correlation id, echoed on the `x-request-id` response header."
          }
        },
        "additionalProperties": true
      }
    }
  }
}
