{
  "openapi": "3.1.0",
  "info": {
    "title": "state — Ablo Sync Engine API",
    "version": "0.1.0",
    "description": "The HTTP surface of the Ablo sync engine. Most production traffic flows over WebSocket via `@abloatai/ablo`; this HTTP API is the Vercel-safe transport for environments that cannot hold long-lived sockets, plus the control plane for capabilities, tasks, and usage."
  },
  "servers": [
    {
      "url": "https://sync.ablo.app",
      "description": "Production"
    },
    {
      "url": "http://localhost:8787",
      "description": "Local development"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key (`sk_live_…`) or Biscuit capability token. The same header carries both — the server discriminates by token shape."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Stable short error code."
          },
          "reason": {
            "type": "string",
            "description": "Human-readable explanation."
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "RequiredCapability": {
        "type": "object",
        "description": "Structured retry hint emitted when the Hub denies a request due to insufficient capability scope. Lets the client locally attenuate a parent capability and retry without an issuer round-trip.",
        "properties": {
          "scope": {
            "type": "string",
            "description": "Operation identifier or `subscribe`."
          },
          "constraints": {
            "type": "object",
            "additionalProperties": true,
            "description": "Datalog fact families the cap must satisfy (e.g. `{ syncGroup: [\"org_abc\"] }`)."
          },
          "issuer": {
            "type": "string"
          },
          "ttlSeconds": {
            "type": "integer"
          },
          "nonce": {
            "type": "string"
          }
        },
        "required": [
          "scope"
        ]
      },
      "CommitReceipt": {
        "type": "object",
        "required": [
          "object",
          "clientTxId",
          "serverTxId",
          "success",
          "status"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "commit_receipt"
            ]
          },
          "clientTxId": {
            "type": "string"
          },
          "serverTxId": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "confirmed",
              "rejected"
            ]
          },
          "lastSyncId": {
            "type": "integer"
          },
          "ops": {
            "type": "integer"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "field": {
                "type": "string"
              },
              "requiredCapability": {
                "$ref": "#/components/schemas/RequiredCapability"
              }
            }
          }
        }
      },
      "CapabilityMintRequest": {
        "type": "object",
        "required": [
          "participantKind",
          "ttlSeconds"
        ],
        "properties": {
          "participantKind": {
            "type": "string",
            "enum": [
              "agent",
              "system"
            ],
            "description": "User caps cannot be minted via API — only `agent` or `system`."
          },
          "participantId": {
            "type": "string",
            "description": "Identity bound into the capability. Defaults to the caller's userId when omitted."
          },
          "allowedSyncGroups": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Sync-groups this capability may subscribe to. Required unless `wideScope: true`."
          },
          "allowedOperations": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Operation facts (e.g. `slide.update`, `task.create`). Required unless `wideScope: true`."
          },
          "ttlSeconds": {
            "type": "integer",
            "minimum": 1
          },
          "label": {
            "type": "string",
            "description": "Optional human-readable label for audit logs."
          },
          "wideScope": {
            "type": "boolean",
            "default": false,
            "description": "Opt out of narrow-scope requirement. Admin/owner role or API-key caller only."
          },
          "userMeta": {
            "type": "object",
            "additionalProperties": true,
            "description": "Caller-attested end-user identity blob (B2B2C). Echoed on read; server does not validate."
          }
        }
      },
      "Capability": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "capability"
            ]
          },
          "token": {
            "type": "string",
            "description": "Biscuit token, base64url. Present only on mint response, not on inspect."
          },
          "participantKind": {
            "type": "string"
          },
          "participantId": {
            "type": "string"
          },
          "allowedSyncGroups": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "allowedOperations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "revokedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "label": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "IntentCreateRequest": {
        "type": "object",
        "required": [
          "target",
          "action"
        ],
        "properties": {
          "intentId": {
            "type": "string",
            "description": "Client-issued idempotency handle. Server generates one when omitted."
          },
          "target": {
            "type": "object",
            "required": [
              "resource",
              "id"
            ],
            "properties": {
              "resource": {
                "type": "string",
                "description": "Model name (e.g. `slide`, `task`)."
              },
              "id": {
                "type": "string"
              },
              "path": {
                "type": "string"
              },
              "field": {
                "type": "string"
              },
              "range": {
                "type": "object"
              },
              "meta": {
                "type": "object"
              }
            }
          },
          "action": {
            "type": "string",
            "description": "Action verb (e.g. `edit`, `claim`)."
          },
          "ttl": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ],
            "description": "Seconds or duration string (`30s`, `5m`). Defaults to server policy."
          }
        }
      },
      "Intent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "actor": {
            "type": "string"
          },
          "participantKind": {
            "type": "string",
            "enum": [
              "user",
              "agent",
              "system"
            ]
          },
          "action": {
            "type": "string"
          },
          "field": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "target": {
            "type": "object",
            "properties": {
              "resource": {
                "type": "string"
              },
              "id": {
                "type": "string"
              },
              "path": {
                "type": "string"
              },
              "field": {
                "type": "string"
              }
            }
          }
        }
      },
      "TaskOpenRequest": {
        "type": "object",
        "required": [
          "prompt"
        ],
        "properties": {
          "prompt": {
            "type": "string",
            "maxLength": 256000,
            "description": "Input prompt for the agent turn. Hashed for audit + stored under separate retention."
          },
          "surface": {
            "type": "string",
            "enum": [
              "chat_deck",
              "chat_spreadsheet",
              "chat_document",
              "chat_unified",
              "mcp",
              "agent_worker",
              "eval",
              "other"
            ]
          },
          "parentTaskId": {
            "type": "string",
            "description": "When set, links this turn under a parent. Parent must belong to the same agent + org."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "task"
            ]
          },
          "agentId": {
            "type": "string"
          },
          "organizationId": {
            "type": "string"
          },
          "surface": {
            "type": "string"
          },
          "parentTaskId": {
            "type": [
              "string",
              "null"
            ]
          },
          "onBehalfOfUserId": {
            "type": [
              "string",
              "null"
            ]
          },
          "openedAt": {
            "type": "string",
            "format": "date-time"
          },
          "closedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "TaskCloseRequest": {
        "type": "object",
        "required": [
          "costInputTokens",
          "costOutputTokens",
          "costComputeMs"
        ],
        "properties": {
          "costInputTokens": {
            "type": "integer",
            "minimum": 0
          },
          "costOutputTokens": {
            "type": "integer",
            "minimum": 0
          },
          "costComputeMs": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "UsageResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "day": {
                  "type": "string",
                  "format": "date"
                },
                "total": {
                  "type": "string",
                  "description": "Aggregate (decimal-as-string)."
                },
                "count": {
                  "type": "integer"
                },
                "api_key_id": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "team_id": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "event_name": {
                  "type": "string"
                },
                "line_item": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              }
            }
          }
        }
      },
      "CommitOperationBase": {
        "type": "object",
        "description": "Fields common to every commit operation, regardless of model.",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "CREATE",
              "UPDATE",
              "DELETE",
              "ARCHIVE",
              "UNARCHIVE"
            ],
            "description": "Mutation verb. `input` is required for CREATE/UPDATE, ignored for DELETE/ARCHIVE/UNARCHIVE."
          },
          "id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Target row id. Omit on CREATE (the server generates one); required on UPDATE/DELETE/ARCHIVE/UNARCHIVE."
          },
          "transactionId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Per-operation echo token, stamped onto the broadcast `SyncDelta.transaction_id` so the originating client recognises its own optimistic write. SDK-managed; distinct from the batch-level `clientTxId`."
          },
          "readAt": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Watermark from when the caller reasoned about the target. The server detects writes since this id and applies `onStale`. SDK-managed; leave unset for last-writer-wins."
          },
          "onStale": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "reject",
              "force",
              "flag",
              "merge",
              null
            ],
            "description": "Conflict policy when `readAt` is stale. `reject` (default) fails the commit; `force` applies unconditionally. `flag`/`merge` are reserved."
          }
        },
        "x-generated": "commit-inputs"
      },
      "AgentInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "model": {
            "default": "gpt-4o-mini",
            "type": "string"
          },
          "systemPrompt": {
            "type": "string"
          },
          "tools": {},
          "temperature": {
            "anyOf": [
              {
                "default": 0.7,
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "maxSteps": {
            "anyOf": [
              {
                "default": 5,
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "isActive": {
            "default": true,
            "type": "boolean"
          }
        },
        "required": [
          "name",
          "systemPrompt",
          "tools"
        ],
        "description": "Field payload for `agent` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "AgentOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "agent"
              },
              "input": {
                "$ref": "#/components/schemas/AgentInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "AgentJobInput": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "chatId": {
            "type": "string"
          },
          "pluginName": {
            "type": "string"
          },
          "modelId": {
            "type": "string"
          },
          "status": {
            "default": "pending",
            "type": "string"
          },
          "checkpoint": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ]
          },
          "lastStepIndex": {
            "default": 0,
            "type": "number"
          },
          "executionLog": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ]
          },
          "input": {},
          "result": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ]
          },
          "error": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "errorStep": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "startedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "completedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "totalInputTokens": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "totalOutputTokens": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "userId",
          "chatId",
          "pluginName",
          "modelId",
          "input"
        ],
        "description": "Field payload for `agentjob` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "AgentJobOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "agentjob"
              },
              "input": {
                "$ref": "#/components/schemas/AgentJobInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "AssignmentInput": {
        "type": "object",
        "properties": {
          "entityType": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          },
          "assigneeType": {
            "type": "string"
          },
          "assigneeId": {
            "type": "string"
          },
          "assignedBy": {
            "type": "string"
          },
          "assignedAt": {
            "type": "string",
            "format": "date-time"
          },
          "unassignedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "isActive": {
            "default": true,
            "type": "boolean"
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "entityType",
          "entityId",
          "assigneeType",
          "assigneeId",
          "assignedBy",
          "assignedAt"
        ],
        "description": "Field payload for `assignment` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "AssignmentOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "assignment"
              },
              "input": {
                "$ref": "#/components/schemas/AssignmentInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "AttachmentInput": {
        "type": "object",
        "properties": {
          "filename": {
            "type": "string"
          },
          "originalName": {
            "type": "string"
          },
          "mimeType": {
            "type": "string"
          },
          "fileSize": {
            "type": "number"
          },
          "s3Key": {
            "type": "string"
          },
          "attachableType": {
            "type": "string"
          },
          "attachableId": {
            "type": "string"
          },
          "uploadedBy": {
            "type": "string"
          },
          "uploadedAt": {
            "type": "string",
            "format": "date-time"
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "summary": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "visibility": {
            "default": "org",
            "type": "string",
            "enum": [
              "public",
              "org",
              "private"
            ]
          },
          "chunkAnchorFormat": {
            "default": "bbox",
            "type": "string"
          }
        },
        "required": [
          "filename",
          "originalName",
          "mimeType",
          "fileSize",
          "s3Key",
          "attachableType",
          "attachableId",
          "uploadedBy",
          "uploadedAt"
        ],
        "description": "Field payload for `attachment` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "AttachmentOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "attachment"
              },
              "input": {
                "$ref": "#/components/schemas/AttachmentInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "ChatInput": {
        "type": "object",
        "properties": {
          "title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "agentId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "systemPrompt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "userId": {
            "type": "string"
          }
        },
        "required": [
          "userId"
        ],
        "description": "Field payload for `chat` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "ChatOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "chat"
              },
              "input": {
                "$ref": "#/components/schemas/ChatInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "CommentInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string"
          },
          "authorId": {
            "type": "string"
          },
          "entityType": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "content",
          "authorId",
          "entityType",
          "entityId"
        ],
        "description": "Field payload for `comment` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "CommentOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "comment"
              },
              "input": {
                "$ref": "#/components/schemas/CommentInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "DataroomInput": {
        "type": "object",
        "properties": {
          "projectId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "teamId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "mode": {
            "default": "internal",
            "type": "string"
          },
          "externalProvider": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "externalId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "externalUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "archivedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "description": "Field payload for `dataroom` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "DataroomOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "dataroom"
              },
              "input": {
                "$ref": "#/components/schemas/DataroomInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "DocumentInput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "title"
        ],
        "description": "Field payload for `document` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "DocumentOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "document"
              },
              "input": {
                "$ref": "#/components/schemas/DocumentInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "FavoriteInput": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "entityType": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          }
        },
        "required": [
          "userId",
          "entityType",
          "entityId"
        ],
        "description": "Field payload for `favorite` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "FavoriteOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "favorite"
              },
              "input": {
                "$ref": "#/components/schemas/FavoriteInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "FileInput": {
        "type": "object",
        "properties": {
          "folderId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "dataroomId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "attachmentId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "documentId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "mimeType": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "originalName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "fileSize": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "displayName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "sortOrder": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "description": "Field payload for `file` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "FileOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "file"
              },
              "input": {
                "$ref": "#/components/schemas/FileInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "FolderInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "parentId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "dataroomId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "name"
        ],
        "description": "Field payload for `folder` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "FolderOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "folder"
              },
              "input": {
                "$ref": "#/components/schemas/FolderInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "InvitationInput": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "inviterId": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "status": {
            "default": "pending",
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "teamId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "email",
          "inviterId",
          "role",
          "expiresAt"
        ],
        "description": "Field payload for `invitation` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "InvitationOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "invitation"
              },
              "input": {
                "$ref": "#/components/schemas/InvitationInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "LayoutInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "masterId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "themeId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "deckId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "name"
        ],
        "description": "Field payload for `layout` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "LayoutOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "layout"
              },
              "input": {
                "$ref": "#/components/schemas/LayoutInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "MemberInput": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "customPermissions": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ]
          },
          "joinedAt": {
            "type": "string",
            "format": "date-time"
          },
          "isPrimary": {
            "default": true,
            "type": "boolean"
          },
          "lastActiveAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "default": "ACTIVE",
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE",
              "SUSPENDED",
              "PENDING_VERIFICATION"
            ]
          }
        },
        "required": [
          "userId",
          "role",
          "joinedAt"
        ],
        "description": "Field payload for `member` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "MemberOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "member"
              },
              "input": {
                "$ref": "#/components/schemas/MemberInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "MeshMessageInput": {
        "type": "object",
        "properties": {
          "fromId": {
            "type": "string"
          },
          "fromKind": {
            "type": "string",
            "enum": [
              "user",
              "agent",
              "system"
            ]
          },
          "toId": {
            "type": "string"
          },
          "toKind": {
            "type": "string",
            "enum": [
              "user",
              "agent",
              "system"
            ]
          },
          "kind": {
            "type": "string"
          },
          "payload": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "fromId",
          "fromKind",
          "toId",
          "toKind",
          "kind"
        ],
        "description": "Field payload for `meshmessage` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "MeshMessageOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "meshmessage"
              },
              "input": {
                "$ref": "#/components/schemas/MeshMessageInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "MessageInput": {
        "type": "object",
        "properties": {
          "chatId": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "chatId",
          "role"
        ],
        "description": "Field payload for `message` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "MessageOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "message"
              },
              "input": {
                "$ref": "#/components/schemas/MessageInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "MessagePartInput": {
        "type": "object",
        "properties": {
          "messageId": {
            "type": "string"
          },
          "order": {
            "default": 0,
            "type": "number"
          },
          "textContent": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "reasoningContent": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "fileAttachmentId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "fileName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "fileType": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "toolName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "toolCallId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "toolInput": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ]
          },
          "toolOutput": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ]
          },
          "toolState": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "dataType": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "dataContent": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "messageId"
        ],
        "description": "Field payload for `messagepart` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "MessagePartOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "messagepart"
              },
              "input": {
                "$ref": "#/components/schemas/MessagePartInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "ObjectLinkInput": {
        "type": "object",
        "properties": {
          "linkType": {
            "type": "string"
          },
          "source": {
            "default": "user",
            "type": "string"
          },
          "sourceType": {
            "type": "string"
          },
          "sourceId": {
            "type": "string"
          },
          "targetType": {
            "type": "string"
          },
          "targetId": {
            "type": "string"
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "linkType",
          "sourceType",
          "sourceId",
          "targetType",
          "targetId"
        ],
        "description": "Field payload for `objectlink` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "ObjectLinkOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "objectlink"
              },
              "input": {
                "$ref": "#/components/schemas/ObjectLinkInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "ProjectInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "status": {
            "default": "prospect",
            "type": "string"
          },
          "priority": {
            "default": "medium",
            "type": "string"
          },
          "chatId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "companyId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "startDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "endDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "targetDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "closedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "order": {
            "default": 0,
            "type": "number"
          },
          "orderKey": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "archivedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "updatedBy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "name",
          "type"
        ],
        "description": "Field payload for `project` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "ProjectOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "project"
              },
              "input": {
                "$ref": "#/components/schemas/ProjectInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "ProjectTeamInput": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string"
          },
          "teamId": {
            "type": "string"
          }
        },
        "required": [
          "projectId",
          "teamId"
        ],
        "description": "Field payload for `projectteam` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "ProjectTeamOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "projectteam"
              },
              "input": {
                "$ref": "#/components/schemas/ProjectTeamInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "ResourceAccessInput": {
        "type": "object",
        "properties": {
          "resourceType": {
            "type": "string"
          },
          "resourceId": {
            "type": "string"
          },
          "userId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "permission": {
            "default": "view",
            "type": "string"
          },
          "scopeType": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "scopeId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "invitedBy": {
            "type": "string"
          },
          "expiresAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "revokedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "ndaAcceptedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "lastAccessedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "resourceType",
          "resourceId",
          "invitedBy"
        ],
        "description": "Field payload for `resourceaccess` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "ResourceAccessOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "resourceaccess"
              },
              "input": {
                "$ref": "#/components/schemas/ResourceAccessInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "SlideInput": {
        "type": "object",
        "properties": {
          "deckId": {
            "type": "string"
          },
          "templateId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "title": {
            "type": "string"
          },
          "settings": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "order": {
            "default": 0,
            "type": "number"
          },
          "notes": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "sourceSlideId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "deckId",
          "title"
        ],
        "description": "Field payload for `slide` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "SlideOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "slide"
              },
              "input": {
                "$ref": "#/components/schemas/SlideInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "SlideDeckInput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "layoutId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "themeId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "title"
        ],
        "description": "Field payload for `slidedeck` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "SlideDeckOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "slidedeck"
              },
              "input": {
                "$ref": "#/components/schemas/SlideDeckInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "SlideLayerInput": {
        "type": "object",
        "properties": {
          "slideId": {
            "type": "string"
          },
          "layoutLayerId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "isOverride": {
            "default": false,
            "type": "boolean"
          },
          "type": {
            "type": "string",
            "enum": [
              "text",
              "shape",
              "icon",
              "table",
              "path",
              "image",
              "chart"
            ]
          },
          "zIndex": {
            "default": 0,
            "type": "number"
          },
          "visible": {
            "default": true,
            "type": "boolean"
          },
          "locked": {
            "default": false,
            "type": "boolean"
          },
          "position": {
            "type": "object",
            "properties": {
              "x": {
                "type": "number"
              },
              "y": {
                "type": "number"
              },
              "width": {
                "type": "number"
              },
              "height": {
                "type": "number"
              },
              "rotation": {
                "type": "number"
              }
            },
            "required": [
              "x",
              "y",
              "width",
              "height"
            ]
          },
          "style": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ]
          },
          "data": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ]
          },
          "imageFill": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "attachmentId": {
                    "type": "string"
                  },
                  "objectFit": {
                    "type": "string",
                    "enum": [
                      "cover",
                      "contain",
                      "fill"
                    ]
                  },
                  "width": {
                    "type": "number"
                  },
                  "height": {
                    "type": "number"
                  },
                  "crop": {
                    "type": "object",
                    "properties": {
                      "x": {
                        "type": "number"
                      },
                      "y": {
                        "type": "number"
                      },
                      "zoom": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "x",
                      "y",
                      "zoom"
                    ]
                  },
                  "srcRect": {
                    "type": "object",
                    "properties": {
                      "l": {
                        "type": "number"
                      },
                      "t": {
                        "type": "number"
                      },
                      "r": {
                        "type": "number"
                      },
                      "b": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "l",
                      "t",
                      "r",
                      "b"
                    ]
                  }
                },
                "required": [
                  "url"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "contentJson": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "content": {
                    "type": "array",
                    "items": {}
                  }
                },
                "additionalProperties": {}
              },
              {
                "type": "null"
              }
            ]
          },
          "contentHtml": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "plainText": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "groupId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "slideId",
          "type",
          "position"
        ],
        "description": "Field payload for `slidelayer` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "SlideLayerOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "slidelayer"
              },
              "input": {
                "$ref": "#/components/schemas/SlideLayerInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "SlideLayoutInput": {
        "type": "object",
        "properties": {
          "layoutId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "settings": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "layoutId",
          "name"
        ],
        "description": "Field payload for `slidelayout` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "SlideLayoutOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "slidelayout"
              },
              "input": {
                "$ref": "#/components/schemas/SlideLayoutInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "SlideLayoutLayerInput": {
        "type": "object",
        "properties": {
          "layoutId": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "zIndex": {
            "default": 0,
            "type": "number"
          },
          "visible": {
            "default": true,
            "type": "boolean"
          },
          "locked": {
            "default": false,
            "type": "boolean"
          },
          "position": {
            "type": "object",
            "properties": {
              "x": {
                "type": "number"
              },
              "y": {
                "type": "number"
              },
              "width": {
                "type": "number"
              },
              "height": {
                "type": "number"
              },
              "rotation": {
                "type": "number"
              }
            },
            "required": [
              "x",
              "y",
              "width",
              "height"
            ]
          },
          "style": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ]
          },
          "data": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ]
          },
          "imageFill": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "attachmentId": {
                    "type": "string"
                  },
                  "objectFit": {
                    "type": "string",
                    "enum": [
                      "cover",
                      "contain",
                      "fill"
                    ]
                  },
                  "width": {
                    "type": "number"
                  },
                  "height": {
                    "type": "number"
                  },
                  "crop": {
                    "type": "object",
                    "properties": {
                      "x": {
                        "type": "number"
                      },
                      "y": {
                        "type": "number"
                      },
                      "zoom": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "x",
                      "y",
                      "zoom"
                    ]
                  },
                  "srcRect": {
                    "type": "object",
                    "properties": {
                      "l": {
                        "type": "number"
                      },
                      "t": {
                        "type": "number"
                      },
                      "r": {
                        "type": "number"
                      },
                      "b": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "l",
                      "t",
                      "r",
                      "b"
                    ]
                  }
                },
                "required": [
                  "url"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "contentJson": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "content": {
                    "type": "array",
                    "items": {}
                  }
                },
                "additionalProperties": {}
              },
              {
                "type": "null"
              }
            ]
          },
          "contentHtml": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "plainText": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "groupId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "layoutId",
          "type",
          "position"
        ],
        "description": "Field payload for `slidelayoutlayer` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "SlideLayoutLayerOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "slidelayoutlayer"
              },
              "input": {
                "$ref": "#/components/schemas/SlideLayoutLayerInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "SpreadsheetInput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "data": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "themeId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "title"
        ],
        "description": "Field payload for `spreadsheet` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "SpreadsheetOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "spreadsheet"
              },
              "input": {
                "$ref": "#/components/schemas/SpreadsheetInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "SpreadsheetCellInput": {
        "type": "object",
        "properties": {
          "sheetId": {
            "type": "string"
          },
          "rowIndex": {
            "type": "number"
          },
          "colKey": {
            "type": "string"
          },
          "value": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "valueNumeric": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "formula": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "error": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "cellType": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "cellFormat": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "comment": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "style": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "textStyle": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "contentJson": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "sheetId",
          "rowIndex",
          "colKey"
        ],
        "description": "Field payload for `spreadsheetcell` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "SpreadsheetCellOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "spreadsheetcell"
              },
              "input": {
                "$ref": "#/components/schemas/SpreadsheetCellInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "SpreadsheetSheetInput": {
        "type": "object",
        "properties": {
          "spreadsheetId": {
            "type": "string"
          },
          "name": {
            "default": "Sheet1",
            "type": "string"
          },
          "order": {
            "default": 0,
            "type": "number"
          },
          "columns": {
            "default": "[]",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "settings": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "mergedCells": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "headerRows": {
            "anyOf": [
              {
                "default": 0,
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "spreadsheetId"
        ],
        "description": "Field payload for `spreadsheetsheet` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "SpreadsheetSheetOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "spreadsheetsheet"
              },
              "input": {
                "$ref": "#/components/schemas/SpreadsheetSheetInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "StatusGroupInput": {
        "type": "object",
        "properties": {
          "entityType": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "color": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "icon": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "category": {
            "type": "string"
          },
          "sortOrder": {
            "default": 0,
            "type": "number"
          },
          "isDefault": {
            "default": false,
            "type": "boolean"
          },
          "isActive": {
            "default": true,
            "type": "boolean"
          },
          "isSystem": {
            "default": false,
            "type": "boolean"
          },
          "isCompletedStatus": {
            "default": false,
            "type": "boolean"
          },
          "isLockedStatus": {
            "default": false,
            "type": "boolean"
          },
          "canTransitionTo": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "requiresComment": {
            "default": false,
            "type": "boolean"
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "entityType",
          "code",
          "name",
          "category",
          "canTransitionTo"
        ],
        "description": "Field payload for `statusgroup` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "StatusGroupOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "statusgroup"
              },
              "input": {
                "$ref": "#/components/schemas/StatusGroupInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "SubscriptionInput": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "entityType": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "autoSubscribe": {
            "default": true,
            "type": "boolean"
          }
        },
        "required": [
          "userId",
          "entityType",
          "entityId",
          "reason"
        ],
        "description": "Field payload for `subscription` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "SubscriptionOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "subscription"
              },
              "input": {
                "$ref": "#/components/schemas/SubscriptionInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "TaskInput": {
        "type": "object",
        "properties": {
          "number": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "title": {
            "type": "string"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "default": "todo",
            "type": "string"
          },
          "priority": {
            "default": "medium",
            "type": "string"
          },
          "projectId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "teamId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "chatId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "parentId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "startDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "endDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "dueDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "completedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "order": {
            "default": 0,
            "type": "number"
          },
          "orderKey": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "archivedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "updatedBy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "title"
        ],
        "description": "Field payload for `task` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "TaskOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "task"
              },
              "input": {
                "$ref": "#/components/schemas/TaskInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "TeamInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "parentId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "name"
        ],
        "description": "Field payload for `team` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "TeamOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "team"
              },
              "input": {
                "$ref": "#/components/schemas/TeamInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "TeamMemberInput": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "teamId": {
            "type": "string"
          }
        },
        "required": [
          "userId",
          "teamId"
        ],
        "description": "Field payload for `teammember` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "TeamMemberOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "teammember"
              },
              "input": {
                "$ref": "#/components/schemas/TeamMemberInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "ThemeInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "themeCss": {
            "type": "string"
          },
          "layoutId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "isDefault": {
            "default": false,
            "type": "boolean"
          }
        },
        "required": [
          "name",
          "themeCss"
        ],
        "description": "Field payload for `theme` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "ThemeOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "theme"
              },
              "input": {
                "$ref": "#/components/schemas/ThemeInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "UserMemoryInput": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "version": {
            "default": 1,
            "type": "number"
          }
        },
        "required": [
          "userId",
          "content"
        ],
        "description": "Field payload for `usermemory` mutations. Send the full entity on CREATE (its `required` fields must be present); send only changed fields on UPDATE.",
        "x-generated": "commit-inputs"
      },
      "UserMemoryOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommitOperationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "model"
            ],
            "properties": {
              "model": {
                "type": "string",
                "const": "usermemory"
              },
              "input": {
                "$ref": "#/components/schemas/UserMemoryInput"
              }
            }
          }
        ],
        "x-generated": "commit-inputs"
      },
      "CommitOperation": {
        "description": "A single typed mutation. The `model` field discriminates which `input` contract applies.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/AgentOperation"
          },
          {
            "$ref": "#/components/schemas/AgentJobOperation"
          },
          {
            "$ref": "#/components/schemas/AssignmentOperation"
          },
          {
            "$ref": "#/components/schemas/AttachmentOperation"
          },
          {
            "$ref": "#/components/schemas/ChatOperation"
          },
          {
            "$ref": "#/components/schemas/CommentOperation"
          },
          {
            "$ref": "#/components/schemas/DataroomOperation"
          },
          {
            "$ref": "#/components/schemas/DocumentOperation"
          },
          {
            "$ref": "#/components/schemas/FavoriteOperation"
          },
          {
            "$ref": "#/components/schemas/FileOperation"
          },
          {
            "$ref": "#/components/schemas/FolderOperation"
          },
          {
            "$ref": "#/components/schemas/InvitationOperation"
          },
          {
            "$ref": "#/components/schemas/LayoutOperation"
          },
          {
            "$ref": "#/components/schemas/MemberOperation"
          },
          {
            "$ref": "#/components/schemas/MeshMessageOperation"
          },
          {
[...]
