{
  "openapi": "3.1.0",
  "info": {
    "title": "Ablo Sync Engine HTTP API",
    "version": "0.16.1",
    "description": "The HTTP surface of the Ablo sync engine. Most production traffic flows over WebSocket via `@abloatai/ablo`; this HTTP API is the Vercel-safe transport for environments that cannot hold long-lived sockets, plus the control plane for capabilities and usage.\n\nThe per-model resource routes (`/v1/models/{model}`) are **generated from your own pushed schema** — they are documented here generically over `{model}`, with `tasks` as the running example. Authenticate every request with a `Bearer` API key or scoped token."
  },
  "servers": [
    {
      "url": "https://api.abloatai.com/api",
      "description": "Production"
    },
    {
      "url": "http://localhost:8787/api",
      "description": "Local development"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Records",
      "description": "Typed CRUD over any model in your schema."
    },
    {
      "name": "Coordination",
      "description": "Claims — pessimistic row reservation for human+agent coordination."
    },
    {
      "name": "State",
      "description": "Atomic multi-model commits."
    },
    {
      "name": "Control plane",
      "description": "Capabilities and usage."
    }
  ],
  "paths": {
    "/v1/commits": {
      "post": {
        "summary": "Commit one or more mutations",
        "operationId": "createCommit",
        "tags": [
          "State"
        ],
        "description": "Submit a batch of typed mutations. Atomic: if any operation is denied or fails, the entire commit is rejected. Successful commits broadcast a typed `SyncDelta` to every co-present peer.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Replay-safe identifier; derive it from the business event, not a random value. Same key + same body returns the same receipt."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "$ref": "#/components/schemas/CommitOperation"
                    }
                  },
                  "reads": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ReadDependency"
                    },
                    "description": "Batch-level read dependencies. If a premise moved, its `onStale` policy applies to the whole batch."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Commit receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitReceipt"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Capability denied — body carries `requiredCapability`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/capabilities": {
      "get": {
        "summary": "List capabilities",
        "operationId": "listCapabilities",
        "tags": [
          "Control plane"
        ],
        "responses": {
          "200": {
            "description": "Capabilities issued for this key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Capability"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Mint a capability",
        "operationId": "createCapability",
        "tags": [
          "Control plane"
        ],
        "description": "Mint a scoped, short-lived token (e.g. for an agent) from a secret key.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "can": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Allowed model aliases."
                  },
                  "syncGroups": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "ttlSeconds": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The minted capability (token shown once).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Capability"
                }
              }
            }
          },
          "403": {
            "description": "The presented key cannot mint this scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/capabilities/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The record id."
        }
      ],
      "get": {
        "summary": "Retrieve a capability",
        "operationId": "retrieveCapability",
        "tags": [
          "Control plane"
        ],
        "responses": {
          "200": {
            "description": "The capability.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Capability"
                }
              }
            }
          },
          "404": {
            "description": "No such capability.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Revoke a capability",
        "operationId": "revokeCapability",
        "tags": [
          "Control plane"
        ],
        "responses": {
          "200": {
            "description": "Revoked."
          },
          "404": {
            "description": "No such capability.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/usage": {
      "get": {
        "summary": "Read usage",
        "operationId": "getUsage",
        "tags": [
          "Control plane"
        ],
        "description": "Current-period usage counters for the calling organization.",
        "responses": {
          "200": {
            "description": "Usage counters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Usage"
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/activity": {
      "x-generated": "model-paths",
      "x-ablo-model": "activity",
      "get": {
        "summary": "List activity",
        "operationId": "list_activity",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Page size (default 20, max 100)."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort direction (default asc)."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Column to order by (default \"id\")."
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor from a prior page (`next_cursor`)."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of activity records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "model": {
                      "type": "string",
                      "const": "activity"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Activity"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "stamp": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create activity",
        "operationId": "create_activity",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Replay-safe identifier; derive it from the business event, not a random value. Same key + same body returns the same receipt."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "data"
                ],
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/ActivityInput"
                  },
                  "id": {
                    "type": "string",
                    "description": "Client-generated id. Reuse it when retrying this create."
                  },
                  "claim": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Claim id this write is bound to."
                  },
                  "onStale": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "enum": [
                      "reject",
                      "overwrite",
                      "notify",
                      null
                    ],
                    "description": "Conflict policy (default `reject`)."
                  },
                  "readAt": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Sync watermark the write was based on."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Commit receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitReceipt"
                }
              }
            }
          },
          "403": {
            "description": "Capability scope denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Stale context or claim conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/activity/{id}": {
      "x-generated": "model-paths",
      "x-ablo-model": "activity",
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Record id."
        }
      ],
      "get": {
        "summary": "Read activity",
        "operationId": "get_activity",
        "tags": [
          "Models"
        ],
        "responses": {
          "200": {
            "description": "The activity record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "model"
                    },
                    "model": {
                      "type": "string",
                      "const": "activity"
                    },
                    "id": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Activity"
                    },
                    "stamp": {
                      "type": "integer"
                    },
                    "claims": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ModelClaim"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found or out of scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update activity",
        "operationId": "update_activity",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Replay-safe identifier; derive it from the business event, not a random value. Same key + same body returns the same receipt."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/ActivityInput"
                  },
                  "claim": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Claim id this write is bound to."
                  },
                  "onStale": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "enum": [
                      "reject",
                      "overwrite",
                      "notify",
                      null
                    ],
                    "description": "Conflict policy (default `reject`)."
                  },
                  "readAt": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Sync watermark the write was based on."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Commit receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitReceipt"
                }
              }
            }
          },
          "403": {
            "description": "Capability scope denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Stale context or claim conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete activity",
        "operationId": "delete_activity",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Replay-safe identifier; derive it from the business event, not a random value. Same key + same body returns the same receipt."
          }
        ],
        "responses": {
          "200": {
            "description": "Commit receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitReceipt"
                }
              }
            }
          },
          "403": {
            "description": "Capability scope denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Stale context or claim conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/activity/{id}/claim": {
      "x-generated": "model-paths",
      "x-ablo-model": "activity",
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Record id."
        }
      ],
      "post": {
        "summary": "Claim activity",
        "operationId": "claim_activity",
        "tags": [
          "Models"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModelClaimRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Claim acquired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelClaimResponse"
                }
              }
            }
          },
          "202": {
            "description": "Queued behind the current holder (`queue: true`).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "claimId",
                    "position"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "queued"
                    },
                    "claimId": {
                      "type": "string"
                    },
                    "position": {
                      "type": "integer"
                    },
                    "heldBy": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Held by another actor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Release activity claim",
        "operationId": "release_activity",
        "tags": [
          "Models"
        ],
        "responses": {
          "200": {
            "description": "Released (or nothing to release).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "released": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/agent": {
      "x-generated": "model-paths",
      "x-ablo-model": "agent",
      "get": {
        "summary": "List agent",
        "operationId": "list_agent",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Page size (default 20, max 100)."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort direction (default asc)."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Column to order by (default \"id\")."
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor from a prior page (`next_cursor`)."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of agent records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "model": {
                      "type": "string",
                      "const": "agent"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Agent"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "stamp": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create agent",
        "operationId": "create_agent",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Replay-safe identifier; derive it from the business event, not a random value. Same key + same body returns the same receipt."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "data"
                ],
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/AgentInput"
                  },
                  "id": {
                    "type": "string",
                    "description": "Client-generated id. Reuse it when retrying this create."
                  },
                  "claim": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Claim id this write is bound to."
                  },
                  "onStale": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "enum": [
                      "reject",
                      "overwrite",
                      "notify",
                      null
                    ],
                    "description": "Conflict policy (default `reject`)."
                  },
                  "readAt": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Sync watermark the write was based on."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Commit receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitReceipt"
                }
              }
            }
          },
          "403": {
            "description": "Capability scope denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Stale context or claim conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/agent/{id}": {
      "x-generated": "model-paths",
      "x-ablo-model": "agent",
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Record id."
        }
      ],
      "get": {
        "summary": "Read agent",
        "operationId": "get_agent",
        "tags": [
          "Models"
        ],
        "responses": {
          "200": {
            "description": "The agent record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "model"
                    },
                    "model": {
                      "type": "string",
                      "const": "agent"
                    },
                    "id": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Agent"
                    },
                    "stamp": {
                      "type": "integer"
                    },
                    "claims": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ModelClaim"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found or out of scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update agent",
        "operationId": "update_agent",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Replay-safe identifier; derive it from the business event, not a random value. Same key + same body returns the same receipt."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/AgentInput"
                  },
                  "claim": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Claim id this write is bound to."
                  },
                  "onStale": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "enum": [
                      "reject",
                      "overwrite",
                      "notify",
                      null
                    ],
                    "description": "Conflict policy (default `reject`)."
                  },
                  "readAt": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Sync watermark the write was based on."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Commit receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitReceipt"
                }
              }
            }
          },
          "403": {
            "description": "Capability scope denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Stale context or claim conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete agent",
        "operationId": "delete_agent",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Replay-safe identifier; derive it from the business event, not a random value. Same key + same body returns the same receipt."
          }
        ],
        "responses": {
          "200": {
            "description": "Commit receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitReceipt"
                }
              }
            }
          },
          "403": {
            "description": "Capability scope denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Stale context or claim conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/agent/{id}/claim": {
      "x-generated": "model-paths",
      "x-ablo-model": "agent",
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Record id."
        }
      ],
      "post": {
        "summary": "Claim agent",
        "operationId": "claim_agent",
        "tags": [
          "Models"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModelClaimRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Claim acquired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelClaimResponse"
                }
              }
            }
          },
          "202": {
            "description": "Queued behind the current holder (`queue: true`).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "claimId",
                    "position"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "queued"
                    },
                    "claimId": {
                      "type": "string"
                    },
                    "position": {
                      "type": "integer"
                    },
                    "heldBy": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Held by another actor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Release agent claim",
        "operationId": "release_agent",
        "tags": [
          "Models"
        ],
        "responses": {
          "200": {
            "description": "Released (or nothing to release).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "released": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/agentjob": {
      "x-generated": "model-paths",
      "x-ablo-model": "agentjob",
      "get": {
        "summary": "List agentjob",
        "operationId": "list_agentjob",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Page size (default 20, max 100)."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort direction (default asc)."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Column to order by (default \"id\")."
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor from a prior page (`next_cursor`)."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of agentjob records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "model": {
                      "type": "string",
                      "const": "agentjob"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AgentJob"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "stamp": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create agentjob",
        "operationId": "create_agentjob",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Replay-safe identifier; derive it from the business event, not a random value. Same key + same body returns the same receipt."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "data"
                ],
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/AgentJobInput"
                  },
                  "id": {
                    "type": "string",
                    "description": "Client-generated id. Reuse it when retrying this create."
                  },
                  "claim": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Claim id this write is bound to."
                  },
                  "onStale": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "enum": [
                      "reject",
                      "overwrite",
                      "notify",
                      null
                    ],
                    "description": "Conflict policy (default `reject`)."
                  },
                  "readAt": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Sync watermark the write was based on."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Commit receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitReceipt"
                }
              }
            }
          },
          "403": {
            "description": "Capability scope denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Stale context or claim conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/agentjob/{id}": {
      "x-generated": "model-paths",
      "x-ablo-model": "agentjob",
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Record id."
        }
      ],
      "get": {
        "summary": "Read agentjob",
        "operationId": "get_agentjob",
        "tags": [
          "Models"
        ],
        "responses": {
          "200": {
            "description": "The agentjob record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "model"
                    },
                    "model": {
                      "type": "string",
                      "const": "agentjob"
                    },
                    "id": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AgentJob"
                    },
                    "stamp": {
                      "type": "integer"
                    },
                    "claims": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ModelClaim"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found or out of scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update agentjob",
        "operationId": "update_agentjob",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Replay-safe identifier; derive it from the business event, not a random value. Same key + same body returns the same receipt."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/AgentJobInput"
                  },
                  "claim": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Claim id this write is bound to."
                  },
                  "onStale": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "enum": [
                      "reject",
                      "overwrite",
                      "notify",
                      null
                    ],
                    "description": "Conflict policy (default `reject`)."
                  },
                  "readAt": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Sync watermark the write was based on."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Commit receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitReceipt"
                }
              }
            }
          },
          "403": {
            "description": "Capability scope denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Stale context or claim conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete agentjob",
        "operationId": "delete_agentjob",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Replay-safe identifier; derive it from the business event, not a random value. Same key + same body returns the same receipt."
          }
        ],
        "responses": {
          "200": {
            "description": "Commit receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitReceipt"
                }
              }
            }
          },
          "403": {
            "description": "Capability scope denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Stale context or claim conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/agentjob/{id}/claim": {
      "x-generated": "model-paths",
      "x-ablo-model": "agentjob",
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Record id."
        }
      ],
      "post": {
        "summary": "Claim agentjob",
        "operationId": "claim_agentjob",
        "tags": [
          "Models"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModelClaimRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Claim acquired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelClaimResponse"
                }
              }
            }
          },
          "202": {
            "description": "Queued behind the current holder (`queue: true`).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "claimId",
                    "position"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "queued"
                    },
                    "claimId": {
                      "type": "string"
                    },
                    "position": {
                      "type": "integer"
                    },
                    "heldBy": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Held by another actor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Release agentjob claim",
        "operationId": "release_agentjob",
        "tags": [
          "Models"
        ],
        "responses": {
          "200": {
            "description": "Released (or nothing to release).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "released": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/appproject": {
      "x-generated": "model-paths",
      "x-ablo-model": "appproject",
      "get": {
        "summary": "List appproject",
        "operationId": "list_appproject",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Page size (default 20, max 100)."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort direction (default asc)."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Column to order by (default \"id\")."
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor from a prior page (`next_cursor`)."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of appproject records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "model": {
                      "type": "string",
                      "const": "appproject"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AppProject"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "stamp": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create appproject",
        "operationId": "create_appproject",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Replay-safe identifier; derive it from the business event, not a random value. Same key + same body returns the same receipt."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "data"
                ],
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/AppProjectInput"
                  },
                  "id": {
                    "type": "string",
                    "description": "Client-generated id. Reuse it when retrying this create."
                  },
                  "claim": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Claim id this write is bound to."
                  },
                  "onStale": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "enum": [
                      "reject",
                      "overwrite",
                      "notify",
                      null
                    ],
                    "description": "Conflict policy (default `reject`)."
                  },
                  "readAt": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Sync watermark the write was based on."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Commit receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitReceipt"
                }
              }
            }
          },
          "403": {
            "description": "Capability scope denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Stale context or claim conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/appproject/{id}": {
      "x-generated": "model-paths",
      "x-ablo-model": "appproject",
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Record id."
        }
      ],
      "get": {
        "summary": "Read appproject",
        "operationId": "get_appproject",
        "tags": [
          "Models"
        ],
        "responses": {
          "200": {
            "description": "The appproject record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "model"
                    },
                    "model": {
                      "type": "string",
                      "const": "appproject"
                    },
                    "id": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AppProject"
                    },
                    "stamp": {
                      "type": "integer"
                    },
                    "claims": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ModelClaim"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found or out of scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update appproject",
        "operationId": "update_appproject",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Replay-safe identifier; derive it from the business event, not a random value. Same key + same body returns the same receipt."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/AppProjectInput"
                  },
                  "claim": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Claim id this write is bound to."
                  },
                  "onStale": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "enum": [
                      "reject",
                      "overwrite",
                      "notify",
                      null
                    ],
                    "description": "Conflict policy (default `reject`)."
                  },
                  "readAt": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Sync watermark the write was based on."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Commit receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitReceipt"
                }
              }
            }
          },
          "403": {
            "description": "Capability scope denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Stale context or claim conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete appproject",
        "operationId": "delete_appproject",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Replay-safe identifier; derive it from the business event, not a random value. Same key + same body returns the same receipt."
          }
        ],
        "responses": {
          "200": {
            "description": "Commit receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitReceipt"
                }
              }
            }
          },
          "403": {
            "description": "Capability scope denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Stale context or claim conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/appproject/{id}/claim": {
      "x-generated": "model-paths",
      "x-ablo-model": "appproject",
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Record id."
        }
      ],
      "post": {
        "summary": "Claim appproject",
        "operationId": "claim_appproject",
        "tags": [
          "Models"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModelClaimRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Claim acquired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelClaimResponse"
                }
              }
            }
          },
          "202": {
            "description": "Queued behind the current holder (`queue: true`).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "claimId",
                    "position"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "queued"
                    },
                    "claimId": {
                      "type": "string"
                    },
                    "position": {
                      "type": "integer"
                    },
                    "heldBy": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Held by another actor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Release appproject claim",
        "operationId": "release_appproject",
        "tags": [
          "Models"
        ],
        "responses": {
          "200": {
            "description": "Released (or nothing to release).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "released": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/appprojectfile": {
      "x-generated": "model-paths",
      "x-ablo-model": "appprojectfile",
      "get": {
        "summary": "List appprojectfile",
        "operationId": "list_appprojectfile",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Page size (default 20, max 100)."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort direction (default asc)."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Column to order by (default \"id\")."
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor from a prior page (`next_cursor`)."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of appprojectfile records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "model": {
                      "type": "string",
                      "const": "appprojectfile"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AppProjectFile"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "stamp": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create appprojectfile",
        "operationId": "create_appprojectfile",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Replay-safe identifier; derive it from the business event, not a random value. Same key + same body returns the same receipt."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "data"
                ],
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/AppProjectFileInput"
                  },
                  "id": {
                    "type": "string",
                    "description": "Client-generated id. Reuse it when retrying this create."
                  },
                  "claim": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Claim id this write is bound to."
                  },
                  "onStale": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "enum": [
                      "reject",
                      "overwrite",
                      "notify",
                      null
                    ],
                    "description": "Conflict policy (default `reject`)."
                  },
                  "readAt": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Sync watermark the write was based on."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Commit receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitReceipt"
                }
              }
            }
          },
          "403": {
            "description": "Capability scope denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Stale context or claim conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/appprojectfile/{id}": {
      "x-generated": "model-paths",
      "x-ablo-model": "appprojectfile",
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Record id."
        }
      ],
      "get": {
        "summary": "Read appprojectfile",
        "operationId": "get_appprojectfile",
        "tags": [
          "Models"
        ],
        "responses": {
          "200": {
            "description": "The appprojectfile record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "model"
                    },
                    "model": {
                      "type": "string",
                      "const": "appprojectfile"
                    },
                    "id": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AppProjectFile"
                    },
                    "stamp": {
                      "type": "integer"
                    },
                    "claims": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ModelClaim"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found or out of scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update appprojectfile",
        "operationId": "update_appprojectfile",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Replay-safe identifier; derive it from the business event, not a random value. Same key + same body returns the same receipt."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/AppProjectFileInput"
                  },
                  "claim": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Claim id this write is bound to."
                  },
                  "onStale": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "enum": [
                      "reject",
                      "overwrite",
                      "notify",
                      null
                    ],
                    "description": "Conflict policy (default `reject`)."
                  },
                  "readAt": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Sync watermark the write was based on."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Commit receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitReceipt"
                }
              }
            }
          },
          "403": {
            "description": "Capability scope denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Stale context or claim conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete appprojectfile",
        "operationId": "delete_appprojectfile",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Replay-safe identifier; derive it from the business event, not a random value. Same key + same body returns the same receipt."
          }
        ],
        "responses": {
          "200": {
            "description": "Commit receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitReceipt"
                }
              }
            }
          },
          "403": {
            "description": "Capability scope denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Stale context or claim conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/appprojectfile/{id}/claim": {
      "x-generated": "model-paths",
      "x-ablo-model": "appprojectfile",
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Record id."
        }
      ],
      "post": {
        "summary": "Claim appprojectfile",
        "operationId": "claim_appprojectfile",
        "tags": [
          "Models"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModelClaimRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Claim acquired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelClaimResponse"
                }
              }
            }
          },
          "202": {
            "description": "Queued behind the current holder (`queue: true`).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "claimId",
                    "position"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "queued"
                    },
                    "claimId": {
                      "type": "string"
                    },
                    "position": {
                      "type": "integer"
                    },
                    "heldBy": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Held by another actor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Release appprojectfile claim",
        "operationId": "release_appprojectfile",
        "tags": [
          "Models"
        ],
        "responses": {
          "200": {
            "description": "Released (or nothing to release).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "released": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/assignment": {
      "x-generated": "model-paths",
      "x-ablo-model": "assignment",
      "get": {
        "summary": "List assignment",
        "operationId": "list_assignment",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Page size (default 20, max 100)."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort direction (default asc)."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Column to order by (default \"id\")."
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor from a prior page (`next_cursor`)."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of assignment records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "model": {
                      "type": "string",
                      "const": "assignment"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Assignment"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "stamp": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create assignment",
        "operationId": "create_assignment",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Replay-safe identifier; derive it from the business event, not a random value. Same key + same body returns the same receipt."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "data"
                ],
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/AssignmentInput"
                  },
                  "id": {
                    "type": "string",
                    "description": "Client-generated id. Reuse it when retrying this create."
                  },
                  "claim": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Claim id this write is bound to."
                  },
                  "onStale": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "enum": [
                      "reject",
                      "overwrite",
                      "notify",
                      null
                    ],
                    "description": "Conflict policy (default `reject`)."
                  },
                  "readAt": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Sync watermark the write was based on."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Commit receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitReceipt"
                }
              }
            }
          },
          "403": {
            "description": "Capability scope denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Stale context or claim conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/assignment/{id}": {
      "x-generated": "model-paths",
      "x-ablo-model": "assignment",
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Record id."
        }
      ],
      "get": {
        "summary": "Read assignment",
        "operationId": "get_assignment",
        "tags": [
          "Models"
        ],
        "responses": {
          "200": {
            "description": "The assignment record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "model"
                    },
                    "model": {
                      "type": "string",
                      "const": "assignment"
                    },
                    "id": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Assignment"
                    },
                    "stamp": {
                      "type": "integer"
                    },
                    "claims": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ModelClaim"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found or out of scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update assignment",
        "operationId": "update_assignment",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Replay-safe identifier; derive it from the business event, not a random value. Same key + same body returns the same receipt."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/AssignmentInput"
                  },
                  "claim": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Claim id this write is bound to."
                  },
                  "onStale": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "enum": [
                      "reject",
                      "overwrite",
                      "notify",
                      null
                    ],
                    "description": "Conflict policy (default `reject`)."
                  },
                  "readAt": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Sync watermark the write was based on."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Commit receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitReceipt"
                }
              }
            }
          },
          "403": {
            "description": "Capability scope denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Stale context or claim conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete assignment",
        "operationId": "delete_assignment",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Replay-safe identifier; derive it from the business event, not a random value. Same key + same body returns the same receipt."
          }
        ],
        "responses": {
          "200": {
            "description": "Commit receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitReceipt"
                }
              }
            }
          },
          "403": {
            "description": "Capability scope denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Stale context or claim conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/assignment/{id}/claim": {
      "x-generated": "model-paths",
      "x-ablo-model": "assignment",
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Record id."
        }
      ],
      "post": {
        "summary": "Claim assignment",
        "operationId": "claim_assignment",
        "tags": [
          "Models"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModelClaimRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Claim acquired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelClaimResponse"
                }
              }
            }
          },
          "202": {
            "description": "Queued behind the current holder (`queue: true`).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "claimId",
                    "position"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "queued"
                    },
                    "claimId": {
                      "type": "string"
                    },
                    "position": {
                      "type": "integer"
                    },
                    "heldBy": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Held by another actor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Release assignment claim",
        "operationId": "release_assignment",
        "tags": [
          "Models"
        ],
        "responses": {
          "200": {
            "description": "Released (or nothing to release).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "released": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/attachment": {
      "x-generated": "model-paths",
      "x-ablo-model": "attachment",
      "get": {
        "summary": "List attachment",
        "operationId": "list_attachment",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Page size (default 20, max 100)."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort direction (default asc)."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Column to order by (default \"id\")."
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor from a prior page (`next_cursor`)."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of attachment records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "model": {
                      "type": "string",
                      "const": "attachment"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Attachment"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "stamp": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create attachment",
        "operationId": "create_attachment",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Replay-safe identifier; derive it from the business event, not a random value. Same key + same body returns the same receipt."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "data"
                ],
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/AttachmentInput"
                  },
                  "id": {
                    "type": "string",
                    "description": "Client-generated id. Reuse it when retrying this create."
                  },
                  "claim": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Claim id this write is bound to."
                  },
                  "onStale": {
                    "type": [
[...]
